[2019-01-11 17:56] flyingUnderTheRadar opened #1 "Switching in left Nav"
When in live inspect / events I cannot switch to "Test" mode unless I go back to live inspect mode first. (Can still go to color contrast test)

[2019-01-11 17:59] flyingUnderTheRadar opened #2 "Test settings tab - Remove custom rules?"
We still have "custom rules (supported soon)" in the Test settings tab. Does this make sense to keep around?

[2019-01-15 19:57] #1 closed, assigned to AhmedAbdoOrtiga

[2019-01-15 20:04] #2 closed, assigned to nobody

[2019-01-17 18:17] RobGallo opened #18 "Rule change: when a spinner has children that are list items, the spinner should support the selection pattern."
This change should be added to the rule ControlShouldSupportSelectionPattern.
See https://docs.microsoft.com/en-us/windows/desktop/WinAuto/uiauto-supportspinnercontroltype

[2019-01-17 18:24] RobGallo opened #19 "Add a keystroke like ctrl + S to save a snapshot"

[2019-01-17 18:30] RobGallo opened #20 "The LanmarkOneMain rule should be changed to return a warning instead of an error"
This would give a4win parity with a4web, which treats this rule as a warning.
A4web also only reports an error when other landmarks exist on a page. I would like to get feedback from others as to whether we should make that change as well.

[2019-01-18 16:39] #18 closed, assigned to nobody

[2019-01-18 16:40] #19 closed, assigned to nobody

[2019-01-18 16:41] #20 closed, assigned to nobody

[2019-02-19 04:28] chriscm2006 opened #87 "Error Building Test Projects"
I'm having trouble building the test cases. I get some 400 of errors. It's complaining about missing assembly references, but I haven't added any dependencies or things that would require new assembly references.

### My Two Cents

It seems to me that I might not have access to some internal QA stuff on the Azure/Microsoft side of things. It is in particular complaining about `Microsoft.QualityToo

[2019-02-19 17:09] #87 closed, assigned to nobody

[2019-02-27 09:01] risanaka opened #131 "How about removing "on hover" from the toggle button control on top?"
How about removing "on hover" from the toggle button control on top?
since CCA detects colors on hover and keyboard focusing, "On hover" would not be needed.
@risanaka ?

_Originally posted by @neocln in https://github.com/Microsoft/accessibility-insights-windows/pull/129#issuecomment-467691766_

@flyingUnderTheRadar: please update the toggle button as follows:
Toggle label: Auto detect color cont

[2019-02-27 09:01] #131 closed, assigned to nobody

[2019-02-27 20:29] DaveTryon opened #133 "Suggestion: Add a rule to warn if items in a listbox have duplicated names"
In its current form, AccessibiltyInsights for Windows raises no warning or error if items in a listbox all have the same name. This is a case that can make it more difficult to know the contents of the items.

Suggestion: Create a rule that runs on listboxes and checks for duplicated names between the list items. There are legitimate cases (such as pictures as the list items) that may limit this r

[2019-03-01 04:13] risanaka opened #143 "Migrate documentation from docs.microsoft.com to accessibilityinsights.io"
**Is your feature request related to a problem? Please describe.**
Today, doc.microsoft.com hosts the How to Fix guidance, but the content is specifically customized for the purposes of Accessibility Insights users; updates and feedback will most likely come from Accessibility Insights users.

**Describe the solution you'd like**
Accessibility Insights should own the "View Code Sample" content in

[2019-03-01 04:20] risanaka opened #144 "Automatic color contrast detection is odd in high contrast (white)"
**Describe the bug**
When Windows is in high-contrast (white) mode, the colors auto-detected by the color contrast analyzers aren't correct.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure system for HC-White
1. Start AIWin
1. Go to color contrast mode
1. Scan some controls
1. Compare  auto-detected colors against actual colors

**Expected behavior**
auto-detected colors should clo

[2019-03-01 04:25] risanaka opened #145 "Users aren't aware that they can go back to test mode after selecting "View results in UIA tree""
**Describe the bug**
When a user selects "View results in UIA tree" in Automated checks, the user is taken to Live Inspect's Test Results view with limited insight into where they are and how they can get back to the automated checks results.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a screen reader.
2. Launch Accessibility Insights for Windows.
3. Run automated checks on an elem

[2019-03-01 06:36] risanaka opened #146 "Instruction text for Live Inspect's Events pane is not clear."
**Describe the bug**
The current instruction test for Live Inspect's Events pane is not clear.

**To Reproduce**
Steps to reproduce the behavior:
1. Open an app to test.
1. Open Accessibility Insights for Windows.
1. Open Live Inspect.
1. Set focus on an element and select `Shift + F7`. You can also use the context menu > Listen to events.

**Expected behavior**
In the Events pane, there's instruc

[2019-03-04 18:11] risanaka opened #151 "Tab stops test does not draw the first tab stop indicator."
**Describe the bug**
When running the tab stops test, the number (1) isn't shown on an element if it already has focus when you turn on the tab stops test.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the [Enterprise app](https://www.microsoft.com/en-us/p/enterprise-database-developer-sample/9pf1wcv13501).
1. In Customers, select + New.
1. In New customer, set focus in the First name

[2019-03-04 20:06] risanaka opened #153 "[Feature Request] Improve patterns UX"
**Is your feature request related to a problem? Please describe.**
Today, we receive anecdotal feedback that the patterns UX is not intuitive.

**Describe the solution you'd like**
We want to improve the overall patterns UX so that it's easy to use even for complicated patterns such as Text Pattern.

**Describe alternatives you've considered**
We can write extensive documentation, but this is just

[2019-03-06 22:22] karanbirsingh opened #161 "[BUG] AI-Win does not save event details in event file"
**Describe the bug**
AI-Win does not save event details in serialized event files. When loading such a file, the event details are blank.

**To Reproduce**
- Steps to reproduce the behavior:
- open Wildlife Manager or any app & ai-win
- Hover over window
- Listen to events
- Select any event configuration
- Record some events
- Make sure some of the events have "event details" in the bottom right

[2019-03-06 23:12] karanbirsingh opened #163 "[BUG] Text suggestion for Color Contrast"
The GetStarted page + What's new both say "Check color contrast: Investigate color contrast using Color Contrast." This sounds a bit repetitive, we should consider rephrasing.

[2019-03-07 17:53] risanaka opened #167 "[BUG] Consider replacing UIA with UI Automation"
**Describe the bug**
Currently, the app refers to UI Automation as UIA; looking at the [UI Automation reference docs](https://docs.microsoft.com/en-us/windows/desktop/winauto/entry-uiauto-win32), UIA is not the correct acronym for the tech.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository.
1. Search for "UIA " in the code base.

**Expected behavior**
UIA is not used when

[2019-03-09 00:52] #163 closed, assigned to DaveTryon

[2019-03-19 18:00] ferBonnin opened #186 "[BUG] Add more detail to automated checks role"
**Describe the bug**
From user feedback, emphasize the role of automated checks in the tool: "that no automated tool can find even a majority of accessibility defects on a web page"

**To Reproduce**
Steps to reproduce the behavior:
1. Open Accessibility Insights for Windows
2. select continue on the What's new section

OR
1. Go to https://accessibilityinsights.io/docs/en/windows/getstarted/fastpa

[2019-03-19 18:09] neocln commented on #186
@ferBonnin could you provide a more specific text for the Automated checks section?

[2019-03-19 22:58] neocln commented on #144
@babylonbee could you follow the instruction from Chris and add more info for Chris?

[2019-03-20 17:02] neocln commented on #146
@risanaka IMO the part of Ux change(tab name) which requires a bigger design discussion should be a separate issue to track since we don't want to have a bug stalled long while.
@babylonbee could you file an issue to @risanaka to follow up the tab name issue separately and fix this text issue?

[2019-03-20 17:13] neocln commented on #145
@risanaka @cheade any update on this?

[2019-03-20 17:15] neocln commented on #151
Since it is a feature request, I remove [BUG] from the title.

[2019-03-20 17:17] neocln commented on #167
@risanaka @DaveTryon Dave's point is valid. but the code of work is for AI-Win for now. let's take this overall design conversation to offline.

[2019-03-20 18:10] babylonbee opened #196 "Design discussion for instruction text for Live Inspect's Events pane"
**Describe the bug**
The name of Configuration tab and other things in Event Pane design should be revisited.
this is based on #146 issue.

**To Reproduce**
Please find out more detail information on #146

[2019-03-20 22:15] risanaka opened #199 "[BUG] The maximize button on AI-Win doesn't change in maximized mode"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Using build 1.1.0794.01:

1. Start AI-Win;
1. Hit "Get Started";
1. Click the maximize button on the top right

Expected result:
The maximize button should change to a restore button.

**Expected behavior**
The maximize button stays as the maximize button.

**Actual behavior*

[2019-03-20 23:49] risanaka opened #202 "[BUG] Need to improve the startup sequence."
**Describe the bug**
The current startup sequence can take up to 2 - 3 seconds while it checks for new updates before showing the Welcome page or launching Inspect mode.

Users feel that the app is not responding during those few seconds, and we need to improve this experience.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Accessibility Insights for Windows in a location with poor W

[2019-03-20 23:50] risanaka commented on #202
@cheade recommendation from @neocln is to use WPF's splash experience (see the GIF in the bug description); this is a static picture, are you okay with that?

[2019-03-21 00:45] AhmedAbdoOrtiga opened #203 "Spelling in docs/NewProject.md"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Read [point 5](https://github.com/Microsoft/accessibility-insights-windows/blob/master/docs/NewProject.md#for-non-test-projects-only).

**Issue**
"Products.wxs" should be "Product.wxs", remove the 's' at the end.

**Screenshots or .GIF**
![image](https://user-images.githubuse

[2019-03-21 17:18] risanaka commented on #153
@risanaka to review usability studies and telemetry data to gather information on usage of the patterns UX

[2019-03-21 17:19] chlowell opened #205 "[BUG] Test reports null BoundingRectangle on ScrollBar button"
**Describe the bug**
Automated tests identify one of the button children of a vertical scrollbar in the top or bottom position as having null `BoundingRectangle`. However, debugging the visual tree in Visual Studio, I find `BoundingRectangle` set for each of these buttons.

(If the scroll bar is in an intermediate position between top and bottom, the test passes.)

**To Reproduce**
Steps to reprod

[2019-03-21 17:24] cheade commented on #145
@risanaka

I don't have any quick fixes for this one other than changing what we announce to users, and if we can add in extra verbiage to assist them.

I know the UX navigation on this has been a problem since I started. We had gone through several months of different iterations of how we can fix the navigation but none of them, from what I understand, are quick fixes.

For screen readers is ther

[2019-03-21 17:36] risanaka commented on #205
Thanks for reporting, @chlowell; we are investigating the issue.

[2019-03-21 17:51] babylonbee commented on #199
fix has been provided and merged to master

[2019-03-21 17:51] #199 closed

[2019-03-21 17:57] risanaka commented on #203
Hi @AhmedAbdoOrtiga, this issues should be a duplicate of #204. If you agree, please close this issue.

[2019-03-21 18:26] karanbirsingh commented on #203
@risanaka #204 is the PR (not an issue) to fix this issue, just a heads up

[2019-03-21 22:56] neocln commented on #203
Removing duplicate tag based on Karan's comment. also fixed is validate. so it is closed.

[2019-03-21 22:56] #203 closed

[2019-03-21 22:58] neocln commented on #167
@risanaka fix is merged to master. please pick up daily to regress.

[2019-03-21 23:39] risanaka commented on #203
🤦‍♀️ my bad

[2019-03-21 23:45] DaveTryon commented on #205
Here's what's happening here:
1- WPF creates 5 buttons within a scroll bar--they are Line up, Page up, Thumb, Page down, and Line down
2- When the thumb is in the extreme up position, the Page up button still exists in the element tree but has no bounding rectangle. The Page down button does the same thing if the thumb is in the extreme down position. As a reference, the system scroll bar removes

[2019-03-22 17:33] flyingUnderTheRadar opened #210 "[BUG] Color contrast foreground and background colors inverted."
**Describe the bug**
Color contrast tests do not have the correct foreground and background colors selected in the automated mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to color contrast test
2. Click on any target application element
3. Look at the colors set as foreground and background in the color contrast test page
4. See error

**Expected behavior**
Foreground and backgrou

[2019-03-22 17:50] neocln commented on #210
@risanaka @cheade the names(Foreground color and Background color) should be Color 1 and Color 2 since contrast is based on two colors not, foreground and background.
so my suggestion is to change labels to Color 1 and Color 2. any concern?

[2019-03-22 18:35] cheade commented on #210
@neocln @risanaka When is color contrast necessary and not against a foreground and background? All the color color contrast analyzers I've used treat them as foreground and background.

Is there a problem in the auto detect in which the system may not know if it's a background or foreground and thus switching the two?

[2019-03-22 20:18] risanaka commented on #167
Verified in 1.1.810.1 - closing the issue. Thanks for fixing it, folks :)

[2019-03-22 20:18] #167 closed

[2019-03-22 20:27] risanaka commented on #210
@cheade as far as I know, contrast ratio requirements are against texts and images of texts, and it's against the text color and the background.

as far as I can tell from the repro steps, yes, it appears that we're not able to distinguish which is which.

Some things to consider: the auto detect may not know which is background or foreground, but when a user manually selects, they do know which i

[2019-03-22 20:37] neocln commented on #210
Contrast is based on two colors. This tool can be used to compare two colors which may not be foreground or background.
whether it is auto or manual, still saying "Color 1/Color 2" is more accurate than foreground and background.
even our instruction is talking about two colors, not foreground or background.
![image](https://user-images.githubusercontent.com/8387801/54851560-a13eaf00-4ca7-11e9-9da

[2019-03-22 20:41] cheade commented on #210
I guess my question is more of, why would a user be testing two different colors on the page for contrast between each other when they are not foreground/background? I can't recall an instance where a user would need to check for contrast of items that are not sitting on top of one or the other.

From the repro steps, @flyingUnderTheRadar, is it every time that they are switched or is it only some

[2019-03-22 21:19] risanaka commented on #210
As far as I know, there’s no other scenarios where we’d be looking at contrast ratio.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Chelsea Adelman <notifications@github.com>
Sent: Friday, March 22, 2019 1:41:39 PM
To: Microsoft/accessibility-insights-windows
Cc: Risa Naka; Mention
Subject: Re: [Microsoft/accessibility-insights-windows] [BUG] Color contrast for

[2019-03-22 22:35] neocln commented on #133
@DaveTryon could you regress and close it?

[2019-03-22 22:37] neocln commented on #210
@cheade it happens sometimes AFAIK.

[2019-03-22 22:47] flyingUnderTheRadar commented on #210
Yes it happens sometimes. I have tried it 8 - 10 times. If I was to hazard a guess it seems that the darker color is set as the foreground color. So if you run windows in dark mode black would show up as the foreground color even though its actually white.

[2019-03-22 22:48] cheade commented on #210
![image](https://user-images.githubusercontent.com/40274682/54856716-1e265480-4cb9-11e9-9497-37401a6ade70.png)

Web seems to refer to the foreground and background when noting the colors. Do we know if they have any issues with them being reversed?

[2019-03-22 22:52] karanbirsingh commented on #210
@cheade one difference to keep in mind is that the web tool can rely on HTML property values like `color`, whereas our tool does not have access to the XAML used to generate the UI. Since our tool needs to analyze a screenshot, the heuristic can have a tough time deciphering which is which.

[2019-03-22 22:55] neocln commented on #161
@babylonbee could you take a look at this?

[2019-03-22 23:02] neocln commented on #196
@risanaka @cheade could we have a short chat on this matter next week?

[2019-03-25 16:50] neocln commented on #210
@cheade @risanaka Any other thought?

[2019-03-25 17:59] neocln commented on #210
@risanaka based on our offline conversation, could you add a new figma (or at least mockup) of the UI to show both cases?

[2019-03-25 18:04] risanaka commented on #210
@neocln, @cheade is working on a Figma mockup right now; @cheade, once the Figma is ready, please respond with both a screenshot and a Figma link to this issue, and remove the "needs design input" label.
Thanks!

[2019-03-25 18:25] cheade commented on #210
![Color contrast](https://user-images.githubusercontent.com/40274682/54944395-a17dbb00-4ef0-11e9-874a-58f3acaf99f3.png)

[Updated Color contrast UI Figma mock](https://www.figma.com/file/MxXdGGjWOjE7KaL3rfJNed5C/Accessibility-Insights-for-Desktop?node-id=2192%3A21117)

Please let me know if you have any questions!

[2019-03-25 20:21] risanaka opened #216 "[BUG] Improve instruction text in Color Contrast Analyzer"
**Describe the bug**
With the improvements made in #210, the color contrast analyzer has more things in its UI. We want to re-visit the instruction text, especially as it already links to a tutorial via the info icon.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Accessibility Insights for Windows.
1. Go to Color Contrast.

**Expected behavior**
Users know how to get started right a

[2019-03-25 20:22] cheade commented on #202
A static splash screen is not totally ideal, as users can get antsy if they don't see any movement, even if it's just a looping animation of dots or a loading circle, but it is definitely better than not having anything at all. I can make a splash screen mockup for this purpose.

Are there static dimensions for this splash screen or is it flexible?

[2019-03-25 23:00] neocln commented on #210
@flyingUnderTheRadar please regress it with the daily build of 3/26 and close.

[2019-03-26 17:17] flyingUnderTheRadar commented on #210
Regressed via 1.1.814.1 (Daily build). Looks good.

![image](https://user-images.githubusercontent.com/45673569/55018565-5aef9580-4fb0-11e9-87ba-895f16df41ec.png)

[2019-03-26 17:18] #210 closed

[2019-03-26 17:23] risanaka commented on #146
@babylonbee let's fix this issue with the current proposed UI text; please update the [record button] with the appropriate Fabric icon. thanks!

[2019-03-26 21:01] #144 closed

[2019-03-26 21:57] karanbirsingh commented on #202
@cheade The splash screen can be any image, so AFAIK we can pick any size. Extra notes:

[2019-03-26 22:06] risanaka opened #220 "Update UI text for Issue Filing feature"
Repro steps:
1. Clone the jalkire/github-feature branch.
1. Enable the bug filing extensions ([Instructions to debug extensions](https://github.com/Microsoft/accessibility-insights-windows/blob/master/docs/DebuggingExtensions.md).

## Dialog when user hasn't signed in yet
Repro steps:
1. Run Accessibility Insights for Windows.
1. Run FastPass against the Wildlife Manager app.
1. Select File issue.

[2019-03-26 22:10] flyingUnderTheRadar commented on #220
@risanaka - The figma  has the text that we see in the screenshot. Is this the latest iteration of it?

[2019-03-26 23:27] risanaka commented on #220
@flyingUnderTheRadar thanks for catching that, updated the Figma

[2019-03-26 23:38] DaveTryon commented on #133
Confirmed fixed in daily build 1.1.814.2

[2019-03-26 23:38] #133 closed

[2019-03-27 21:13] neocln commented on #161
@karanbirsingh could you regress and close?

[2019-03-27 21:59] AhmedAbdoOrtiga commented on #220
@risanaka  for "Learn more about issue filing." what would be the link?

[2019-03-27 22:32] karanbirsingh opened #227 "[BUG] Checkboxes in automated checks do not affect screenshot highlighting on first load"
**Describe the bug**
The first time tests are run against an application, the checkboxes in automated checks do not change the visibility of the image highlighter. However, if you view the hierarchy tree and return to the automated checks screen, the checkboxes work properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Run tests against Wildlife Manager or any app
2. Toggle any of the ch

[2019-03-27 22:45] #146 closed

[2019-03-28 16:51] karanbirsingh commented on #161
looks good

[2019-03-28 16:51] #161 closed

[2019-03-28 16:55] babylonbee opened #231 "[BUG] Color contrast algorithm returns NULL for certain images"
**Describe the bug**
Color contrast algorithm returns NULL for certain images

**To Reproduce**
Steps to reproduce the behavior:
1. Pull the code from my [branch](https://github.com/babylonbee/accessibility-insights-windows/tree/color_contrast_test);
2. Navigate to the test cases: **_AccessibilityInsights.DesktopTests.ColorContrastAnalyzer.ImageTests.SimplePurpleAndWhiteButton_**
and
**_Accessibil

[2019-03-29 17:21] neocln commented on #231
@chriscm2006 do you have an ETA for this fix?

[2019-03-29 20:59] neocln commented on #227
it is because items under groups are not populated yet.
![image](https://user-images.githubusercontent.com/8387801/55262361-d78da880-522a-11e9-9ba1-6b5ddb4f937c.png)

[2019-03-29 21:40] neocln commented on #227
it turns out that the problem is more on the counting of a highlighter than the visibility of list item.
@jalkire please continue the investigation.

[2019-03-29 22:49] AhmedAbdoOrtiga commented on #220
This one was resolved in the [Support GitHub Issue Filing](https://github.com/Microsoft/accessibility-insights-windows/pull/230), so closing

[2019-03-29 22:49] #220 closed

[2019-04-01 17:55] cheade commented on #202
Just to keep this on my radar I've got a [design task](https://dev.azure.com/mseng/Azure%20DevOps%20Design/_workitems/edit/1493091) and [Figma file](https://www.figma.com/file/MxXdGGjWOjE7KaL3rfJNed5C/Accessibility-Insights-for-Desktop?node-id=2227%3A21168) created for this:

[2019-04-02 00:48] neocln commented on #227
@karanbirsingh could you regress it and close?

[2019-04-02 13:35] chriscm2006 commented on #231
1. Not really. This is at least a little bit by design. The "Save" example doesn't have enough text. I'll detect a max of 5 similar contrast transitions in that image. This can be a lot of things, not necessarily text. I believe the min number of characters I would make a conclusion on is 10. One of my metrics is at least X transitions. So NULL here is expected.
2. The number example is very blurr

[2019-04-02 17:12] risanaka commented on #216
@cheade can you take a look at the UI string update and review it with Rob?

[2019-04-02 17:13] risanaka commented on #196
@cheade please schedule time with @neocln on this issue.

[2019-04-02 17:15] risanaka commented on #151
@ferBonnin - this issue has a consistency problem between Web and Windows on how Tab stops is displayed. Can you drive the conversation?

[2019-04-02 17:16] ferBonnin commented on #151
@risanaka for sure :)

[2019-04-02 17:17] risanaka commented on #145
Closing this issue as there's a larger discussion required on whether we need a teaching UX capability in Accessibility Insights.

[2019-04-02 17:17] #145 closed

[2019-04-02 17:19] risanaka commented on #143
This feature needs investigation, specifically around ownership of this documentation--while it's exclusively used by Accessibility Insights, philosophically, the content could be owned by the UI framework owners (since it describes best practices around accessibility).

Someone on the team needs to drive this conversation and clarify ownership.

[2019-04-02 17:57] karanbirsingh commented on #227
Looks fixed in latest signed build from master (1.1.0821.01)

[2019-04-02 17:57] #227 closed

[2019-04-02 21:02] risanaka opened #246 "[BUG] bot test"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to h

[2019-04-02 21:09] #246 closed

[2019-04-02 21:11] risanaka opened #247 "[Feature Request] test bot"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-04-02 21:13] risanaka opened #248 "[Feature Request] test bot"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-04-02 21:15] risanaka opened #249 "[BUG] test"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to h

[2019-04-02 21:16] risanaka opened #250 "[BUG] test"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to h

[2019-04-02 21:25] risanaka opened #251 "task: test"

[2019-04-03 18:30] neocln commented on #205
@chlowell we will have a new build published in 2 weeks. please let us know if you need the fix earlier than that.

[2019-04-03 18:32] neocln commented on #231
@chriscm2006 it sounds like that this would not be in the scope. if so, could you close this bug?

[2019-04-04 20:34] neocln commented on #202
@cheade do you have ETA for your design? I would like to have this change in next release(week of 4/12).

[2019-04-04 20:49] cheade commented on #202
I was hoping to go over the options I have on Tuesday in our design meeting but we can definitely go over it in our meeting on Monday if you'd like to discuss sooner!

[2019-04-05 18:50] karanbirsingh opened #263 "[BUG] Chrome menus can exceed parent bounding rects but AI-Win flags this as an error"
**Describe the bug**
In Chrome, the settings menu pane does not clip based on the browser's size. Instead, the pane will exceed the size of the browser and always show its children. Because of this, ai-win flags the pane because its bounding rectangle is not contained within the bounding rectangle of its parent. The pane itself seems like a window. This rule should be revised to either omit the ch

[2019-04-05 19:06] karanbirsingh commented on #263
rename as .a11ytest to open in ai-win: [ChromeMenu.zip](https://github.com/Microsoft/accessibility-insights-windows/files/3049298/ChromeMenu.zip)

[2019-04-08 17:20] jalkire opened #267 "[BUG] Issue filing missing from recent builds"
**Describe the bug**
Issue filing is completely absent from recent builds.

**To Reproduce**
Steps to reproduce the behavior:
1. Install and launch [Canary Release: v1.1.0827.01](https://github.com/Microsoft/accessibility-insights-windows/releases/tag/v1.1.0827.01)
2. Note that there is no issue icon on the bottom left
3. Note that is no Connections tab in settings
4. Note that there is no File is

[2019-04-08 17:56] neocln commented on #267
@jalkire @karanbirsingh are all extension files at the correct location?

[2019-04-08 18:01] karanbirsingh commented on #267
@neocln It seems this issue was introduced in PR #253 based on MSI builds before & after the change. Looking in more detail

[2019-04-08 18:06] LiLoDavis opened #268 "[BUG] ContentViewSpinnerStructure should allow ListItem"
**Current rule**
The given element is expected to have the following structure: Spinner and NoChild(IsContentElement).

**Proposed rule**
The rule should allow ListItems.
See the documentation: https://docs.microsoft.com/en-us/windows/desktop/winauto/uiauto-supportspinnercontroltype#typical-tree-structure

[2019-04-08 18:07] LiLoDavis opened #269 "[BUG] ContentViewSplitButtonStructure should allow MenuItem"
**Current rule**
The given element is expected to have the following structure: SplitButton and ( == 1 or == 2) and AllChildren(not(IsContentElement) or Button).

**Proposed rule**
The rule should allow MenuItem.
See the documentation: https://docs.microsoft.com/en-us/windows/desktop/winauto/uiauto-supportsplitbuttoncontroltype#typical-tree-structure

[2019-04-08 18:11] LiLoDavis opened #270 "[BUG] ControlShouldNotSupportValuePattern should consider Name property"
**Current rule**
Currently looks for text controls that support the value pattern. Returns as uncertain instead of error.

**Proposed rule**
1. Look for text controls that support the value pattern.
2. Compare content of name and value.
3. Return error if name and value differ.

[2019-04-08 18:33] neocln commented on #267
this may be a rootcause of this issue.
Activated	Event	Time	Duration	Thread
Activated Historical Code Context	Exception thrown: 'System.ComponentModel.Composition.Primitives.ComposablePartException' in System.ComponentModel.Composition.dll ("Cannot create an instance of type 'AccessibilityInsights.Extensions.GitHubAutoUpdate.AutoUpdate' because a constructor could not be selected for construction.

[2019-04-08 18:33] ferBonnin commented on #186
@neocln adding the text here:
"Did you know?
Automated checks can detect some common accessibility problems, such as missing or invalid properties. However, most accessibility problems can be identified only through manual testing."

[2019-04-08 18:34] neocln commented on #268
@RobGallo could you take a look?

[2019-04-08 18:43] LiLoDavis opened #271 "[BUG] ControlViewCalendarStructure should allow ListItem"
**Current rule**
The given element is expected to have the following structure: Calendar / (DataGrid and NoChild(Header) or == 1 and AnyChild(Header and (NoChild(HeaderItem) or == 7)) and NoChild(Button) or == 2 and ( > 0)).'

**Proposed rule**
The rule should allow ListItem.
See the documentation: https://docs.microsoft.com/en-us/windows/desktop/winauto/uiauto-supportcalendarcontroltype#typical-t

[2019-04-08 18:45] LiLoDavis opened #272 "[BUG] ControlViewSpinnerStructure should allow ListItem"
**Current rule**
The given element is expected to have the following structure: Spinner and == 2 and <= 1 and AllChildren(not(IsControlElement) or (Button or Edit)).

**Proposed rule**
The rule should allow ListItem.
See the documentation: https://docs.microsoft.com/en-us/windows/desktop/winauto/uiauto-supportspinnercontroltype#typical-tree-structure

[2019-04-08 18:47] LiLoDavis opened #273 "[BUG] ControlViewSplitButtonStructure should allow Menu and MenuItem"
**Current rule**
The given element is expected to have the following structure: SplitButton and ( == 1 or == 2) and <= 1 and <= 1 and AllChildren(not(IsControlElement) or (Button or Image or Text)).

**Proposed rule**
The rule should allow Menu and MenuItem.
See the documentation: https://docs.microsoft.com/en-us/windows/desktop/winauto/uiauto-supportsplitbuttoncontroltype#typical-tree-structure

[2019-04-08 18:50] LiLoDavis opened #274 "[BUG] ControlViewTabStructure should allow Button"
**Current rule**
The given element is expected to have the following structure: Tab and AnyChild(IsControlElement) and AllChildren(not(IsControlElement) or (Group or ScrollBar or TabItem)).

**Proposed rule**
Rule should allow Button.
See the documentation: https://docs.microsoft.com/en-us/windows/desktop/winauto/uiauto-supporttabcontroltype#typical-tree-structure

[2019-04-08 20:44] DaveTryon commented on #267
@jalkire, this has been merged into master. Please close it out once you have the chance to regress it.

[2019-04-09 00:33] neocln commented on #231
close this issue since we don't have any plan to fix this by changing color contrast detection logic.

[2019-04-09 00:33] #231 closed

[2019-04-09 16:55] karanbirsingh commented on #186
@ferBonnin
- it's not clear where the text should go - can you choose from these options? thanks!
- we also need to know whether updating the website text is part of this issue, and if so, where the text should be placed.

options:
1. in the live inspect instructions seen after clicking 'continue':
![live inspect instructions](https://user-images.githubusercontent.com/7775527/55819089-e71fb380-5aa

[2019-04-09 17:05] ferBonnin commented on #186
@cheade thoughts on where to add this text?

I would prefer 2 (given that 3 will look too busy if we add that text)

[2019-04-09 21:13] cheade commented on #216
[Figma File](https://www.figma.com/file/MxXdGGjWOjE7KaL3rfJNed5C/Accessibility-Insights-for-Desktop?node-id=394%3A19735)

[2019-04-09 21:16] neocln commented on #202
We are waiting for the next design meeting for selecting a flash window screen.

[2019-04-09 21:26] neocln commented on #196
Chelsea and I talked about it and we need input from PM(s) on the below approach.
1. List up the possible User scenarios and create the instruction docs for each user scenarios.
2. use the user scenarios with current instruction, Chelsea will investigate further on the improvement of Ux.

[2019-04-09 21:26] neocln commented on #216
@karanbirsingh could you take care of this bug?

[2019-04-10 14:59] RobGallo commented on #273
This rule actually already does support menu items. It's just that it isn't visible from looking at the description. The description generation code was updated as part of another change. It now reads:

The given element is expected to have the following structure: SplitButton and (CountChildren(Button and NoChild(IsControlElement) or CountChildren(MenuItem)
== 1 and AllChildren(not(IsControlEleme

[2019-04-10 15:03] RobGallo commented on #269
This rule actually does check for menu items. It just isn't apparent from the malformed description. Once the description is fixed (in PR now), it will read.

The given element is expected to have the following structure: SplitButton and (CountChildren(Button and AnyChild(IsContentElement) and AllChildren(not(IsContentElement)
or MenuItem)) == 1 or CountChildren(Button and AnyChild(IsContentElemen

[2019-04-10 15:05] #273 closed

[2019-04-10 15:06] #269 closed

[2019-04-10 15:30] #267 closed

[2019-04-10 18:42] karanbirsingh opened #282 "[BUG] Structure rules should include IsContentElement/IsControlElement/pattern checks and increased unit test coverage"
The [structure rules](https://github.com/Microsoft/accessibility-insights-windows/tree/master/src/AccessibilityInsights.Rules/Library/Structure) have the following gaps:
- they run on elements regardless of whether `IsControlElement` or `IsContentElement` is true.
- unit test coverage is light on these rules
- in some cases, additional pattern guidance has been added in Microsoft documentation (ex

[2019-04-10 21:58] cheade commented on #186
I think #2 is the place where it would make most sense. However there is already a good chunk of text on the page and I have a guess that many users will gloss over this piece of information.

Is there enough specific feedback that it has to be in the tool itself and not just within the link to "Learn more about automated checks"?

[2019-04-10 22:00] ferBonnin commented on #186
@cheade yes, the ask was to add it in both tool and documentation.

[2019-04-10 23:10] DanUyematsu opened #285 "Insights can't gather all autosuggest items in Chrome or Teams"
**Repro Steps:**

1. Launch Insights
2. Launch Chrome
3. Type "T" in the URL for Chrome
4. Press down arrow and navigate through all the suggestions (you can also use the mouse)
5. Verify that each item shows up in Insights

Note, you can see the same behavior in the Teams Desktop version in the Search box (Ctrl + E).

**Results**
When using the keyboard, Insights is not populating data for each s

[2019-04-10 23:36] karanbirsingh commented on #274
We have added a new rule that validates ScrollBar structure. That rule ensures that a ScrollBar has either a button or a thumb as its child - this should indirectly resolve this issue. The next canary [release](https://github.com/Microsoft/accessibility-insights-windows/releases) (4/11) should include this fix.

[2019-04-10 23:47] neocln commented on #270
@RobGallo Based on MSDN, ValuePattern is not supported in Text Control.
however, because there are cases of having value patterns in Text Control in some frameworks, we had it as warning than error.
https://docs.microsoft.com/en-us/windows/desktop/winauto/uiauto-supporttextcontroltype
I would like to understand what this rule change is based on.

[2019-04-11 00:00] neocln commented on #285
@DanUyematsu could you tell us which build of Windows you are using?

[2019-04-11 00:02] neocln commented on #282
We may need to turn this as a feature based on the rough estimation of this work.

[2019-04-11 14:34] #268 closed

[2019-04-11 14:34] #272 closed

[2019-04-11 14:41] RobGallo commented on #271
The docs at https://docs.microsoft.com/en-us/windows/desktop/WinAuto/uiauto-supportdatagridcontroltype say that DataGrids should have DataItems as their children. We agree with that and think the inclusion of ListItem in the Calendar documentation is an error. Therefore, this issue is not applicable.

[2019-04-11 14:41] #271 closed

[2019-04-11 15:13] DanUyematsu commented on #285
I'm using Windows 10 Version 1903 (OS Build 18362.53)

[2019-04-11 16:57] LiLoDavis opened #287 "[BUG] EditSupportsOnlyValuePattern should return an error"
The UIA spec (https://docs.microsoft.com/en-us/windows/desktop/winauto/uiauto-supporteditcontroltype) requires every edit control to support at least the Text control pattern. The Value pattern is supplemental. This rule should return an error.

[2019-04-11 17:05] LiLoDavis opened #288 "[BUG] ControlShouldNotSupportWindowPattern should return an Error"
The UIA spec (https://docs.microsoft.com/en-us/windows/desktop/winauto/uiauto-supportpanecontroltype#required-control-patterns) says a pane control should NEVER support the Window pattern.
This rule should return an error.

[2019-04-11 19:59] neocln commented on #287
@karanbirsingh it is the same issue which we discussed this morning right?

[2019-04-11 20:05] neocln commented on #288
@LiLoDavis your point is valid. However, with the existing frameworks, there are some cases that this is not 100% honored, though the user impact is low. so we adjusted the rule to return a warning.

[2019-04-11 20:43] karanbirsingh commented on #287
@neocln no - we discussed #270

[2019-04-11 21:29] neocln commented on #285
@AhmedAbdoOrtiga could you repro it and investigate it?

[2019-04-11 22:41] karanbirsingh commented on #287
From the docs link, it says:

Control Pattern/Pattern Property | Support/Value | Notes
-- | -- | --
IValueProvider | Depends | All edit controls that take a string must expose the Value control pattern.

If I am reading it correctly, it seems like the rule matches the docs (not an error). Please let me know if I am missing something.

[2019-04-12 00:23] risanaka opened #292 "[BUG] Update the setup dialog's logo image"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
A clear and concise description of what the bug is.

When the user installs Accessibility Insights for Windows, Ada the cat is visible on the left side of the first install dialog. However, once you start the install dialog, there's a red box where the lo

[2019-04-12 14:47] LiLoDavis commented on #288
@neocln Ok, then in my documentation, I'll mark this as a Framework bug rule.

[2019-04-12 14:48] #288 closed

[2019-04-12 14:55] LiLoDavis commented on #287
@karanbirsingh As I understand it, the rule fires when an edit control supports the value pattern but does not support the text pattern. The documentation says **ITextProvider** is required,** while **IValueProvider** depends. The only thing wrong with the rule is how the outcome is reported. I believe  failure instances should be shown as errors instead of uncertain.

[2019-04-12 16:24] karanbirsingh commented on #287
@LiLoDavis makes perfect sense, thanks. I'll follow up with @RobGallo / @neocln with this in case there is any other context I should be aware of about this rule before making the change

[2019-04-12 17:43] ferBonnin commented on #292
@neocln thoughts on this?

[2019-04-12 17:50] karanbirsingh commented on #263
fixed in https://github.com/Microsoft/accessibility-insights-windows/releases/tag/v1.1.0831.01

[2019-04-12 17:50] #263 closed

[2019-04-12 23:42] ferBonnin opened #296 "[BUG] Telemetry for creating bug does not distinguish GitHub/Azure DevOps"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
Telemetry does not distinguish when a bug is created if it was created to GitHub or Azure DevOps. Understanding usage of this feature is important for success metric of the new feature and can help in the future to take decisions.

**Expected behavior**
T

[2019-04-12 23:43] ferBonnin commented on #296
@jalkire @karanbirsingh here is the bug :)

[2019-04-15 16:39] DaveTryon opened #298 "[BUG] Link to release notes always goes to Production"
**Describe the bug**
The link to the release notes always points to the production release notes, regardless of release channel

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the What's new screen
2. Click on "go to to the latest release notes"
3. See error

**Expected behavior**
This should go either to the release notes for the Channel or the specific Release

**Actual behavior**
Th

[2019-04-15 16:43] DaveTryon opened #299 "[Feature Request] What's new content hasn't been updated since initial release"
**Describe the bug**
The content of the What's new dialog needs to be updated to reflect features added since the initial release

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the What's new dialog
2. Look at the content

**Expected behavior**
The content should have reference to GitHub issue filing and release channels

**Actual behavior**
The content is unchanged from the initial r

[2019-04-15 18:58] ferBonnin commented on #274
Hi @LiLoDavis this issue has been resolved. Could you verify?
Thanks!

[2019-04-15 19:20] LiLoDavis commented on #274
Solution makes sense to me.

[2019-04-15 19:24] ferBonnin commented on #274
Closing issue then :)

[2019-04-15 19:24] #274 closed

[2019-04-15 20:39] karanbirsingh commented on #202
using this png from @cheade -
![splash-screen](https://user-images.githubusercontent.com/7775527/56163713-df1bb400-5f83-11e9-9b9f-ab720758fe95.png)

[2019-04-15 22:30] AhmedAbdoOrtiga commented on #285
After investigation, I'll contact Windows Team (IA2-UIA Feature Crew) to investigate the issue from their side for the following reasons:
- The function we use `UIAutomation.ElementFromPoint` to detect the current element doesn't see the autocomplete list which maybe something wasn't handled or mapped correctly in the IA2 proxy.
- I tried to use a different API to get the element `AutomationElemen

[2019-04-15 23:45] AhmedAbdoOrtiga commented on #298
- Do we have a release note page for each channel or version to use as suggested in the "Expected behavior"?
- Also since the official place to download and use AI-Win is [AI-Win](https://aka.ms/accessibilityinsights-windows/download) which matches with the production release notes [Notes](https://accessibilityinsights.io/docs/en/windows/reference/releases), is this still a valid issue?

[2019-04-16 17:19] #298 closed

[2019-04-16 20:22] DaveTryon opened #306 "[BUG] Typo in ScannerResultControl_btnFileBug_Click_File_Issue_Configure"
**Describe the bug**
The string resource identified as ScannerResultControl_btnFileBug_Click_File_Issue_Configure has a typo, leading to a confusing message.

**To Reproduce**
Steps to reproduce the behavior:
1. Start AIWin without any issue filing configuration
2. Scan an app with problems (WildlifeManager works fine)
3. Attempt to file a bug from the app
4. The following dialog is displayed:

![

[2019-04-17 22:59] karanbirsingh commented on #292
@ferBonnin We are unable to reuse the initial-screen image because the dimensions are different. To replace the red CD image, we need anything of dimensions 493 × 58. Then we can add a new line referencing it with the variable WixUIBannerBmp like we do for the existing logo.

https://github.com/Microsoft/accessibility-insights-windows/blob/f315fbf501a71c0a635d5942b483f6b6a961cdda/src/MSI/Product.w

[2019-04-17 23:01] ferBonnin commented on #292
@cheade could you provide an image with those dimensions for the accessibility insights logo?

[2019-04-17 23:04] cheade commented on #292
@karanbirsingh Hi! I'm having a bit of trouble understanding the 493 x 58 dimension. The original image shown is a square. Are the dimensions a typo, or does it allow for a banner-type image to replace the square?

[2019-04-17 23:06] karanbirsingh commented on #292
@cheade It seems to me the square is actually right-aligned within a banner-type image. For example, here's what happens when I use our initial-screen image in the banner's place:

![image](https://user-images.githubusercontent.com/7775527/56326384-acf88680-612a-11e9-9d86-8026daedb8b1.png)

The dimensions come from [this link](http://wixtoolset.org/documentation/manual/v3/wixui/wixui_customization

[2019-04-17 23:23] #306 closed

[2019-04-17 23:27] karanbirsingh commented on #306
@DaveTryon just an fyi, merging the PR closed this out

[2019-04-17 23:36] cheade commented on #292
@karanbirsingh thank you! That makes sense now. Let me get something designed for you and sent your way ASAP. I'll have a couple options to mull over.

[2019-04-17 23:48] cheade commented on #292
@karanbirsingh @ferBonnin
**Option 1**
![Option 1](https://user-images.githubusercontent.com/40274682/56327723-8c332f80-6130-11e9-83cc-7f2151bf1baf.png)

**Option 2**
![Option 2](https://user-images.githubusercontent.com/40274682/56327726-90f7e380-6130-11e9-8cfa-93e80d88f1b2.png)

I prefer "Option 1". Let me know your thoughts :)

[2019-04-18 00:19] ferBonnin commented on #292
opt 1 feels cleaner to me.

[2019-04-18 00:41] cheade commented on #292
![Desktop installation banner](https://user-images.githubusercontent.com/40274682/56329362-f3a0ad80-6137-11e9-84e7-d5353379c31e.png)

This banner image should work for you!

[2019-04-18 01:42] DaveTryon opened #317 "[BUG] AI-Win fails to start on some machines"
**Describe the bug**
When starting AccessibilityInsights on some machines, the app hangs, then crashes. Looking in the event viewer, it's throwing an Exception:

Application: AccessibilityInsights.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.IO.FileNotFoundException
   at AccessibilityInsights.SetupLibrary.MsiUtilit

[2019-04-18 20:38] DaveTryon commented on #317
Confirmed fixed in 1..1.0837.02

[2019-04-18 20:38] #317 closed

[2019-04-18 21:20] AhmedAbdoOrtiga commented on #285
Closing, after investigation, this isn't a bug in AI-Win. A bug with this information was sent to the Windows Team to investigate the UIA APIs.

[2019-04-18 21:20] #285 closed

[2019-04-19 15:49] DaveTryon commented on #202
Closing on Risa's behalf

[2019-04-19 15:49] #202 closed

[2019-04-19 21:23] #292 closed

[2019-04-19 21:23] karanbirsingh commented on #292
closing on risa's behalf

[2019-04-19 21:26] karanbirsingh commented on #216
Closing on Risa's behalf

[2019-04-19 21:26] #216 closed

[2019-04-19 22:48] DaveTryon opened #326 "[BUG] AI-Win telemetry reports wrong OS versions"
**Describe the bug**
The AI-Win telemetry reports only 2 values for the OS. It's either **Microsoft Windows NT 6.1.7601 Service Pack 1** for Windows 7 SP1 (our lowest supported platform) or **Microsoft Windows NT 6.2.9200.0** for everything else, meaning that we have no meaningful OS version data in our telemetry.

**The fix**
The fix is to uncomment the boilerplate **supportedOS** sections in the

[2019-04-22 18:31] neocln commented on #326
@DaveTryon as we discussed, please investigate it.

[2019-04-22 18:34] neocln commented on #299
@adrianaandreeva we need a way to display some contents of the "What's new" page.
could you assign a PM on this and define a Ux on it? once that's done, we need a feature to implement it.

[2019-04-23 00:31] neocln commented on #196
@adrianaandreeva let's turn this as a feature. please let me know if you need more context on it.

[2019-04-23 20:55] enricotj opened #333 "[Feature Request] Add Ability to Expand Nodes from UI Inspection Tree"
**Is your feature request related to a problem? Please describe.**
At the moment, if you have a UI element under inspection there is no way to dive deeper into its children nodes. You can get observe and navigate its top-level children, but nothing deeper.

**Describe the solution you'd like**
It would be nice to be able to dive deeper into children UI elements from the inspection window.

**Descr

[2019-04-23 23:06] DaveTryon opened #335 "[Bug] Users installing Canary or Insider builds are in Production Channel"
**Problem**
Users are in the Production channel by default, even if they're on a build that is still being treated as Canary or Insider. This is a potential for confusion, as the UI shows no prompt to let the user know that they're on a pre-production build. It also reduces the build validation benefit we get from having users choose to stay current with pre-production Channels.

**Proposed soluti

[2019-04-23 23:10] #326 closed

[2019-04-23 23:21] jalkire opened #336 "[BUG] Update/switch channel UAC dialog appears behind app"
**Describe the bug**
If AI-Win attempts to install a new version of itself, whether from auto-update or from channel change, the UAC dialog is obscurred.

**To Reproduce**
Steps to reproduce the behavior:
1. Open AI-Win to the center of your default monitor
2. Go to settings
3. Ensure AI-Win is always on top before proceeding
4. Change channel
5. Save and close

**Expected behavior**
The UAC promp

[2019-04-24 17:09] karanbirsingh commented on #287
We will make this change after the axe-windows transition has settled

[2019-04-24 18:50] karanbirsingh commented on #270
@LiLoDavis I checked in with @neocln & @RobGallo - since other rules ensure that an automation name must exist, the additional presence of a value pattern does not have high user impact - thus it is listed as 'uncertain'. The name/value comparison error is interesting and we can consider it if it is reflected in the MSDN docs

[2019-04-24 18:50] karanbirsingh commented on #270
accidental close, marking as resolve instead

[2019-04-24 20:56] #186 closed

[2019-04-25 14:43] #270 closed

[2019-04-25 20:53] neocln commented on #336
@jalkire could you take care of this? we may need to set the main windows not to be TopMost when we get into update mode.

[2019-04-25 20:56] neocln commented on #333
@adrianaandreeva this request has been heard from the substantial number of users.
could we create a feature for this in the next quarter?

[2019-04-25 21:37] neocln commented on #205
@chlowell could you regress this issue and close it? We released a new build yesterday(4/24). It should have a fix for this issue.

[2019-04-25 21:45] #336 closed

[2019-04-25 23:50] cheade commented on #335
@DaveTryon is this occurring just for users who have downloaded insider or canary builds prior to the channel switcher being implemented?

If this is not the case, shouldn't we put the users in the channel of their selected download?
E.g.; if the user chooses to download for the first time a version from the canary list, installing that version should automatically put them in the canary channel.

[2019-04-26 00:10] cheade commented on #335
If putting the users in the channel of their selected download is not possible and/or the issue is referring to our users who are on a canary/insider build pre-channel switcher feature implementation, is this close to what you were referring to needing in the product?

![Frame](https://user-images.githubusercontent.com/40274682/56775672-f83f1480-677c-11e9-9a6f-481e355a92d9.png)

[2019-04-26 14:25] DaveTryon commented on #335
@cheade All channels currently support the version switcher, so we can disregard scenarios involving very old builds. Auto-assigning a channel when no channel is configured (i.e., a first install) sounds reasonable to me, as does displaying a dialog when the installed version is newer than the newest build in the configured channel.

In the proposed dialog, I'm not sure what should happen after th

[2019-04-26 19:24] #296 closed

[2019-04-29 17:50] risanaka opened #342 "[BUG] Insufficient contrast ratio for Update button"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
A clear and concise description of what the bug is.

When user is prompted to update Accessibility Insights for Windows, when they hover over the Update button, it does not have sufficient contrast.
**To Reproduce**
Steps to reproduce the behavior:
1. Ins

[2019-04-30 15:15] jalkire commented on #342
Do we have any guidance as to what the colors should be on hover? @cheade

[2019-04-30 21:22] neocln commented on #282
@adrianaandreeva please consider it for a new feature.

[2019-05-01 15:28] chlowell commented on #205
Thanks, this doesn't repro for me in 1.1.850.1

[2019-05-01 15:28] #205 closed

[2019-05-02 19:20] cheade commented on #342
@jalkire Hi!

Here are the colors for the button states:
![Button state colors](https://user-images.githubusercontent.com/40274682/57100808-b1996f00-6cd4-11e9-8710-84b216ff31e3.png)

[2019-05-02 19:25] cheade commented on #335
@DaveTryon I guess a better question is, what is the scenario in which a user has an installed version that is newer than the newest build in the configured channel?

For the dialog that I mocked up - I was under the assumption that a user couldn't be using the product without having a configured channel, and that the default channel was Production.

[2019-05-03 17:25] DaveTryon opened #347 "[BUG] Version bar is confusing"
(This was a reworking of #335, which will be closed. It's not strictly a bug, but is bug size so is being tracked as a bug)

**Describe the bug**
The current version bar in AI-Win includes potentially confusing information and isn't generally useful. After conversations with @cheade, here's where we landed:

- In the "typcial" environment, we want the version bar to be blank (don't distract the us

[2019-05-03 17:26] DaveTryon commented on #335
After a couple of iterations, we're closing this issue and have opened #347 to track it

[2019-05-03 17:26] #335 closed

[2019-05-03 17:50] ferBonnin opened #348 "[BUG] test"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to h

[2019-05-03 17:51] #348 closed

[2019-05-03 19:05] armanio123 opened #349 "FastPass dont report error"
**Description**
FastPass is reporting a BoundingRectangle issue in one computer but it doesn't on another.

**To Reproduce**
1. Install Visual Studio with Node.js Tools workload.
2. Create a new Blank Node.js Console App.
3. Right click on the project node > properties.
4. Run fast pass on the separator line.
5. One computer reports error another doesn't.

**Expected behavior**
The error is either

[2019-05-03 22:40] ferBonnin commented on #349
Hey @armanio123 could you give us the Accessibility Insights for Windows Version of the other computer where FastPass is reporting this issue?

[2019-05-03 22:43] armanio123 commented on #349
I'm not sure since this is executed by a tester, the last screenshot shows: 1.1.589.2. I can ask to be sure but it will take some time to respond.

[2019-05-03 22:55] ferBonnin commented on #349
@armanio123 that sounds like an old version of Accessibility Insights for Windows. We make bug fixes every release, could we ask the tester if he still repro the issue in the latest version or not?

[2019-05-06 18:52] armanio123 commented on #349
We have tried with the latest version available and the experience is consistent between computers. I'll close the issue. Thanks for taking a look.

[2019-05-06 18:52] #349 closed

[2019-05-07 00:36] DaveTryon opened #351 "[BUG] Update Dialog shows up on top of release notes"
**Describe the bug**
If you open the release notes from the upgrade dialog, the upgrade dialog floats on top of the release notes, where it doesn't belong.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn off the "always on top" feature
2. Install a build that will create an upgrade (simplest option: Switch to canary build, then uninstall it and manually install an earlier canary build f

[2019-05-10 17:55] ferBonnin opened #354 "[BUG] Canary build does not show the beaker when hovering elements"
**Describe the bug**
Canary ver 1.1.858.1 does not show beaker when inspecting elements

**To Reproduce**
Steps to reproduce the behavior:
1. open Accessibility Insights for Windows
2. try to inspect elements

**Expected behavior**
beaker appears over elements to trigger automated checks

**Actual behavior**
no beaker

**Screenshots or .GIF**
If applicable, add screenshots to help explain your pro

[2019-05-13 16:26] DaveTryon commented on #354
I just tried this with 1.1.858.1 on 2 different machines, and it worked as expected. I wonder if it's a variant of the DPI problems that we saw previously...

[2019-05-13 16:58] #354 closed

[2019-05-13 17:14] karanbirsingh commented on #287
Issue moved to axe-windows repo, closing this

[2019-05-13 17:14] #287 closed

[2019-05-13 17:23] karanbirsingh commented on #282
Moving to axe-windows repository: https://github.com/microsoft/axe-windows/issues/28

[2019-05-13 17:23] #282 closed

[2019-05-16 22:49] risanaka opened #364 "[BUG] Selecting Settings nav item after Connection nav item closes the Settings view."
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
A clear and concise description of what the bug is.

If I select the Settings nav item after selecting the Connection nav item, it closes the Settings view.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Accessibility Insights for Windows.
1

[2019-05-17 16:39] DaveTryon opened #365 "[BUG] AIWin draws highlighters after loading an events file"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
After loading an events file, AIWin draws highlighters on screen, even though there's nothing to highlight

**To Reproduce**
Steps to reproduce the behavior:
1. Start AIWin
2. Open the A11yEvents file (see attached zip file)
3. Click on the last loaded ev

[2019-05-17 18:50] DaveTryon commented on #153
Needs to be assigned to Siri

[2019-05-18 00:02] AhmedAbdoOrtiga commented on #364
This might not be a bug though considering the cases we would need to handle if we switch to Settings > Application view, @DaveTryon what do you think

[2019-05-20 14:14] DaveTryon commented on #364
Seems like a bug to me

[2019-05-20 18:24] ferBonnin opened #367 "[BUG] number of downloads is broken"
**Describe the bug**
number of downloads is in negative numbers

**Expected behavior**
real number of downloads

**Actual behavior**
have a negative number for 5/8 due to a release getting deleted

[2019-05-20 18:25] ferBonnin commented on #367
@lisli1 talked about this with John and Karan. assigning it to John

[2019-05-20 23:11] jalkire commented on #367
@ferBonnin You should now see the correct number on 5/8 and not see this issue again going forward. I have also updated our backend to store release channel alongside the download count going forward. Starting tomorrow, the number on the dashboard will refer to production downloads only (we don't have the breakdown for historical data). Let me know if there is a more useful way to display the info

[2019-05-22 15:02] jalkire commented on #365
@DaveTryon that the highlighter appears is as designed. We can change the design if we want, but it's not a bug. The fact that there is a snapshot button is a bug, though.

[2019-05-22 16:57] #367 closed

[2019-05-23 21:18] DaveTryon commented on #365
@cheade, what makes the most sense from a design perspective? The highlighter experience (minus the snapshot button) might make more sense if we had a screenshot, but the file intentionally omits the screenshot. We'd love to get your thoughts on how to proceed from this. When this question came up a long time ago, the decision was to leave the highlighter, since it gave at least some sort of conte

[2019-05-23 21:22] DaveTryon commented on #364
@cheade, the core issue here is a discrepancy between how the 2 nav buttons work. The connections button always takes the user to the Connections tab in the settings view. The Settings button acts as a toggle and closes the settings view if it's open. What are your thoughts on removing the toggle behavior, and simply having the settings button go directly to the Settings tab?

[2019-05-23 21:54] DaveTryon commented on #143
Per our discussion, you and @adrianaandreeva need to figure out what to do on this. For context, the links to docs.microsoft.com are in the links.json file that we install in the same folder as AIWin

[2019-05-23 22:03] DaveTryon commented on #333
Current thinking: Add 2 options to the drop-down menu on the element. One allows one generation of children to the enumerated for this element, the other expands all descendants of the tree. We'll want to get input from @cheade on the specifics

[2019-05-24 21:52] risanaka commented on #342
@jalkire thanks, I'll review and close it once I see it in the Canary build next week :)

[2019-05-24 23:02] cheade commented on #364
I noticed this as well and thought it was a bug. I would not anticipate the settings button to act as a toggle, it should act as navigation (having the settings button go directly to the main settings tab, and the connections button go directly to the connections tab).

[2019-05-24 23:07] cheade commented on #365
Without a screenshot, the highlighters provide not much context. They'll give you the name if you have that yellow label turned on, but without a screenshot or the app itself, I don't see a benefit to having the highlighters there. It also seems like it would get in the way of navigating anything else.

[2019-05-28 16:38] #342 closed

[2019-05-28 23:24] DaveTryon commented on #365
After talking with jalkire, we decided to disable the highlighter by default, but to allow the user to enable it via the highlighter button (there are occasions where there is some benefit to having the highlight available if the user requests it)

[2019-05-29 15:06] DaveTryon commented on #351
Confirmed fixed in 1.1.876.1

[2019-05-29 15:06] #351 closed

[2019-05-30 23:18] DaveTryon commented on #347
After further discussion with @cheade, we're going to display the UIAccess status only in the About box, and omit it completely from the version bar

[2019-05-31 17:55] ferBonnin opened #379 "[BUG] Weird behaviour with display and Jaws"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
When connected to a different screen and using Jaws, after running fastPass, the automated checks UI goes away

**To Reproduce**
Steps to reproduce the behavior:
1. turn on Jaws and connect to a different display
2. run automated checks in an app
3. UI di

[2019-06-03 20:34] jalkire opened #381 "[BUG] AI-Win crash when running tests if scope changed"
**Describe the bug**
AI-Win crashes if the user attempts to run tests immediately after changing the "What to select" value.

**To Reproduce**
Steps to reproduce the behavior:
1. Select an element in live mode
2. Change "What to select" dropdown value to the value that is not currently selected
3. Without changing the selected element, click on the test beaker in the UIA hierarchy

**Expected beha

[2019-06-04 15:43] DaveTryon commented on #365
Confirmed fixed in build 1.1.883.1

[2019-06-04 15:43] #365 closed

[2019-06-04 22:15] Sirisha-Kommushetty commented on #299
@cheade - We have some thoughts on how this page can be revamped. Would be great to chat next week and close on the next steps.

[2019-06-04 22:21] Sirisha-Kommushetty commented on #379
@jalkire - Could you prioritize this when Rob is in town.

[2019-06-04 22:35] Sirisha-Kommushetty commented on #196
@cheade - Can we connect and talk about this. Should we think of a usability study/signal interviews at some point?

[2019-06-04 22:47] Sirisha-Kommushetty commented on #153
@DaveTryon - Can we get click stream telemetry on the various patterns supported. This will help us inform the next steps.

[2019-06-04 22:52] Sirisha-Kommushetty commented on #151
@ferBonnin - Can we connect on this. Seems like a bug that can be fixed for both Windows and Web.

[2019-06-04 23:09] ferBonnin commented on #151
@Sirisha-Kommushetty lets connect. The problem here is that Web and Windows behave differently. (Windows doesnt draw the first tab stop indicator)

[2019-06-05 16:11] jalkire commented on #381
Confirmed fixed in 1.1.885.1

[2019-06-05 16:11] #381 closed

[2019-06-05 17:02] jalkire commented on #151
@Sirisha-Kommushetty @ferBonnin For context, there is no good/intentional reason why Windows doesn't draw the first tab stop. It just happened to be that way. I hope we decide to make the change 👍

[2019-06-05 17:08] ferBonnin commented on #151
@jalkire thanks for the context! :) I agree

[2019-06-06 22:09] jalkire commented on #379
@Sirisha-Kommushetty Update on this. I have been able to repro the problem consistently on my machine, which is good and bad news. I have not been able to find a solution--our previous fix is no longer working. We've (mostly @flyingUnderTheRadar) spent a fair amount of time trying to mitigate this in the past with mixed results, so I'm not optimistic about finding a compromise-free solution. We ca

[2019-06-10 20:12] ferBonnin commented on #151
from conversation with Peter, size of this is probably bug, changing tags and marking ready for work

[2019-06-17 19:53] karanbirsingh commented on #364
@jalkire can you think of any implications of removing the toggle-like behavior of the settings button? If not, we can set this as ready-to-triage.

[2019-06-17 19:58] DaveTryon commented on #364
This should have been set "ready for work", as it's already been triaged. We just forgot to update the status. If this is a mistake, we'd sure love to hear about it :)

[2019-06-17 23:05] jalkire commented on #364
@karanbirsingh No, I can't think of any unintended consequences from this change

[2019-06-19 18:39] Sirisha-Kommushetty commented on #333
Simplest thing is to have a button to walk the whole tree. Let's connect with @cheade to get some inputs here.

[2019-06-19 20:09] flyingUnderTheRadar commented on #379
Just to give some more context
@RobGallo - this is the one that we worked together to repro on your machine.

We were able to fix it via [this PR](https://github.com/microsoft/accessibility-insights-windows/pull/114/files). The fix that worked (evidenced by @jalkire @ the CSUN demo) simply invalidates the mainwindow visual and forces a re render with the highest priority.

**Code around this has s

[2019-06-19 20:30] DaveTryon commented on #347
This is fixed in release https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.0899.01

[2019-06-19 20:30] #347 closed

[2019-06-19 22:41] ferBonnin opened #391 "[BUG] Outdaded SrGB value calculation"
**Describe the bug**
Per WCAG bug [Non-sRGB color spaces, outdated sRGB threshold, and other issues in the "relative luminance" definition](https://github.com/w3c/wcag/issues/360)

the number used to calculate relative luminance is incorrect.

**Additional context**
Blocked until WCAG bug gets resolved.

[2019-06-19 22:46] ferBonnin commented on #391
calculation of this is in [ColorContrastViewModel.cs](https://github.com/microsoft/accessibility-insights-windows/blob/master/src/AccessibilityInsights.SharedUx/ViewModels/ColorContrastViewModel.cs)

[2019-06-20 03:37] DaveTryon opened #394 "[BUG] Upgrade prompt displays when it shouldn't"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
The upgrade dialog is displaying when installing the latest release on a clean machine

**To Reproduce**
Steps to reproduce the behavior:
1. Start with a clean machine (no previous installation of AIWin & no config settings)
2. Install from https://github

[2019-06-20 22:51] DaveTryon commented on #379
@ferBonnin, this should be in the next build (1.1.901.1, I believe)

[2019-06-24 15:23] DaveTryon commented on #394
Confirmed fixed in release https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.0904.01

[2019-06-24 15:23] #394 closed

[2019-06-24 15:24] DaveTryon commented on #379
@ferBonnin, please regress using release https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.0904.01

[2019-06-24 18:22] ferBonnin commented on #379
Cannot repro in my computer. Per conversation with @jalkire that could repro this in his computer, this release has fixed the issue.

[2019-06-24 18:22] #379 closed

[2019-06-24 19:56] karanbirsingh commented on #364
This has been merged into master and should show up in the next canary build (likely on 6/25)

[2019-06-26 18:12] Sirisha-Kommushetty commented on #364
@risanaka - Can you validate this against the latest canary builds and close it? Thank you!

[2019-06-26 18:13] Sirisha-Kommushetty commented on #151
@risanaka - Could you validate this in the latest canary builds and close it? Thank you!

[2019-06-26 18:15] Sirisha-Kommushetty commented on #299
Had a discussion with @cheade and @DaveTryon on the next steps here.

[2019-06-26 18:30] Sirisha-Kommushetty commented on #153
Its a good idea, but at this point in time, our roadmap does not include modifying these dialogs.

[2019-06-27 16:55] risanaka commented on #364
@cheade to confirm: regardless of which settings tab I navigated to last, the settings icon should still take me to the Application tab within Settings, correct? If so, we can close this issue.

[2019-06-27 17:09] cheade commented on #364
@risanaka yep! That would be correct behavior for settings in an application.

I'm finding that the Settings icon doesn't receive the focus bar indicator on the left nav. Is this a separate bug?

[2019-06-27 20:50] risanaka commented on #364
@cheade should be tracked as a separate bug, although I'm unable to repro the focus bar indicator issue.

[2019-06-27 20:50] #364 closed

[2019-06-27 20:51] risanaka commented on #151
@Sirisha-Kommushetty validated and closing. Thanks for the fix :)

[2019-06-27 20:51] #151 closed

[2019-07-04 21:58] chrisoldwood opened #417 "BoundingRectangle failures reported for hidden tab control in old style wizards"
In older style native Win32 application wizards there is a hidden tab control near the top. This hidden tab control, which is purely an implementation detail, is being picked up by the Insights tool and failures reported against the tab positions and labels.

Here is an example of the failures reported by Insights:

![Insights-Errors](https://user-images.githubusercontent.com/2768826/60688526-a669

[2019-07-10 01:56] piyushsaxena2910 opened #425 "[BUG] When the Always on top setting is on, even if windows is locked, the application still stays active"
**Describe the bug**
Installed the msi on my windows 10 machine. When I lock my machine, the "Accessibility Insights for Windows" always stays on top, even with the locked screen. This only happens when the "Always on top" setting is selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the "Accessibility Insights for Windows" MSI
2. Go to settings and turn on setting "Always on

[2019-07-10 02:21] Myndex commented on #391
I am the W3C member who is working on these issues in the WCAG. The correct threshold for the reverse transform (going to linear) is 0.04045 and this should be used, not 0.03928 as incorrectly listed in the WCAG Understanding document. Also, the sRGB working draft from 1996 is not the standard, IEC 61966-2-1:1999 is the relevant international standard for sRGB.

There is no real reason to use the

[2019-07-11 22:53] Sirisha-Kommushetty commented on #425
@piyushsaxena2910 - This is "By Design" with Always on Top. Please close the app or turn off the "always on top" setting before locking your device.

[2019-07-11 22:54] piyushsaxena2910 commented on #425
@Sirisha-Kommushetty Thank you for your response!

[2019-07-11 22:54] #425 closed

[2019-07-17 02:37] DaveTryon commented on #391
This is fixed in https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.0926.01

[2019-07-17 18:16] #143 closed

[2019-07-17 18:19] #153 closed

[2019-07-17 18:19] #196 closed

[2019-07-17 19:29] #391 closed

[2019-07-30 23:16] jalkire commented on #333
@Sirisha-Kommushetty Another option would be to add a "Show Descendants" menu item alongside "Show Ancestry":
![image](https://user-images.githubusercontent.com/4615491/62171884-64359980-b2e5-11e9-841d-d0c32b658f91.png)

[2019-07-31 17:12] ArchieCoder opened #446 "[BUG] TextBox in a UWP app gives a false positive"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
There is a false positive for TextBox in a UWP app. The tool reports: "The given ControlType must have the IsControlElement property set to TRUE".

**To Reproduce**
See the video, it would be easy to understand. For information, the Narrator says correctl

[2019-07-31 18:23] Sirisha-Kommushetty commented on #299
@cheade - Any updates on this?

[2019-07-31 18:26] cheade commented on #299
Last we all talked we had decided that we will be getting rid of the "What's new" tab. Here is the [Figma mock](https://www.figma.com/file/MxXdGGjWOjE7KaL3rfJNed5C/Accessibility-Insights-for-Desktop?node-id=2325%3A23545), but I don't believe we have any major changes.

[2019-07-31 19:18] flyingUnderTheRadar commented on #446
Hello Archie,
Thank you for your report.

Based on my conversations with my colleague, a textbox should have the `IsControlElement` set to `true`. This is used by screenreaders in different ways.

Without access to your source code or the app we have no way of verifying whether this property on the textbox is initially set to `true`. Additionally once you type something in the box does this proper

[2019-07-31 19:36] ArchieCoder commented on #446
As shown in the new screenshot, IsControlElement is not a property that exists for TextBox. It is not also included in AutomationProperties.

It is not even part of the detail pane like you have suggested.

![Insights](https://user-images.githubusercontent.com/1608424/62242314-e3d86c80-b3a8-11e9-90ef-d5380e52fbea.png)

![TextBox2](https://user-images.githubusercontent.com/1608424/62242071-66146100

[2019-07-31 20:13] iamrafan commented on #446
@ArchieCoder can you please share the ```(.a11ytest)``` file of the failure you are seeing?

Please use the save button on the top left to export the test results
![image](https://user-images.githubusercontent.com/22068434/62244781-052f5d80-b395-11e9-89c0-4c0bae9ea477.png)

[2019-07-31 20:16] ArchieCoder commented on #446
There you go: [TestResults 07-31-19.zip](https://github.com/microsoft/accessibility-insights-windows/files/3453740/TestResults.07-31-19.zip)

FYI, if you want access to my device, we can do a remote session with the Windows 10 tool: Quick Access

[2019-07-31 21:06] flyingUnderTheRadar commented on #446
Thanks for the test file. Using the test file provided by you I can see (refer the GIF on how to view the property) that the property is indeed set to false meaning that the app is functioning correctly.
![FalsePositive](https://user-images.githubusercontent.com/45673569/62247633-12e7e180-b39b-11e9-8bba-72d34d4d74dc.gif)

I did a small sample UWP app and by default this value is set to true. Here

[2019-08-01 14:03] ArchieCoder commented on #446
1- Look at my video again. I do the test app, it shows the 2 errors and then I click refresh and it says no errors. It does not make any sense. I feel a bug here in the Insight tool
[Bug.zip](https://github.com/microsoft/accessibility-insights-windows/files/3457060/Bug.zip)

2- Here is the XAML code

<TextBox
            x:Uid="Login_Username"
            InputScope="EmailSmtpAddress"

[2019-08-01 20:07] flyingUnderTheRadar commented on #446
1. Yes @ArchieCoder - We are aware that the first time around the errors show up and the second time around they do not. This does not mean that the tool has a bug. In the a11ytest file that you have shared we can clearly see that the required property is set to false which is why the rule is flagging it. More info about why the rule is implementing it can be found [here](https://docs.microsoft.co

[2019-08-02 02:46] ArchieCoder commented on #446
Thanks for the prompt daily update, it is appreciated! Kudos on that.

I have good news and a bad news.

After 2 hours of trials and errors, I have found the culprit, but I don't understand why.

Are you ready? You'll have to try yourself to believe it. The presence of the PasswordBox makes the tool trigger false-positive. In your provided sample, I added a PasswordBox. Use the tool and you will s

[2019-08-05 18:51] Sirisha-Kommushetty commented on #333
@enricotj - We've looked into this and are exploring possible solutions.

[2019-08-05 18:53] cheade commented on #333
@jalkire What's the difference between 'Show ancestry' and 'Show descendants'?

[2019-08-05 18:53] enricotj commented on #333
Awesome! Thanks for all your great work! ^_^

On Mon, Aug 5, 2019, 11:53 AM Chelsea Adelman <notifications@github.com>
wrote:

[2019-08-05 19:33] DaveTryon opened #449 "[BUG] Production build shouldn't display "Prerelease Build""
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
The production release should not display "Prerelease Build" in the UI" (see #347 for the intented behavior)

**To Reproduce**
Steps to reproduce the behavior:
1. Install the current Production build (1.1.933.1)
2. Get past the startup screen
3. Look at t

[2019-08-05 22:55] FalseLobster commented on #333
+1

I frequently find myself falling back to the legacy Inspect app just because I find it so much easier to navigate around the UIA tree.

I'd urge you against scoping this feature to just descendants.  What if I want to see siblings?  What if I want to see descendants of siblings?

[2019-08-05 23:03] jalkire commented on #333
@cheade "Show ancestry" toggles displaying the hierarchy tree from the selected element all the way back to the root/desktop node:

Checked:
![image](https://user-images.githubusercontent.com/4615491/62500085-e1578780-b799-11e9-8342-8da6a61f8cb5.png)

Unchecked:
![image](https://user-images.githubusercontent.com/4615491/62500096-eae0ef80-b799-11e9-9c5c-e450b8fc241f.png)

In some ways, it is analog

[2019-08-05 23:22] risanaka opened #451 "[BUG] v1.1.0933.01 release note has some errors"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
A clear and concise description of what the bug is.

The [latest production release note](https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.0933.01) has a few errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2019-08-06 15:47] DaveTryon commented on #451
Thanks for catching these 😸. Please close out when you get the chance.

[2019-08-06 15:48] risanaka commented on #451
Thanks for the quick fix, @DaveTryon :)

[2019-08-06 15:48] #451 closed

[2019-08-06 15:50] DaveTryon commented on #449
This is fixed in release 1.1.0947.01

[2019-08-06 16:15] cheade commented on #333
Can we replace "Show descendants" with "Show all descendants?" What's the benefit of having the two options?

[2019-08-06 16:41] jalkire commented on #333
We don't currently have either--I didn't mean to suggest adding two new items. "Show descendants" or "Show all descendants" are two options for the text of the single new menu item I am suggesting.

[2019-08-06 16:54] ArchieCoder commented on #446
Hi @flyingUnderTheRadar, we have an audit with Msft next week. If you could let me know if my finding is a bug in the tool or in the UWP system, I would appreciate.

Thank you!

[2019-08-06 16:57] DaveTryon commented on #449
Leaving this open but resolved until 1.1.947.1 actually rolls to production. Intent is that anyone checking the issues will see it and not file a duplicate copy.

[2019-08-06 20:25] flyingUnderTheRadar commented on #446
Hi @ArchieCoder

I have added a password box in the[ sample code](https://github.com/flyingUnderTheRadar/SampleUWPApp). You can download and play around with the app there. Yes, we were able to reproduce the issue now. Thank you for the steps to reproduce.

However this does not change our earlier conclusion. See the below GIF. We can still see that the `isControlElement` property is set to `false

[2019-08-06 20:28] #446 closed

[2019-08-06 20:56] ArchieCoder commented on #446
FYI, the Windows Dev user voice is the worse place to share bugs. This place is dead and the team does not monitor it anymore.

Sébastien
________________________________
From: flyingUnderTheRadar <notifications@github.com>
Sent: Tuesday, August 6, 2019 4:25:54 PM
To: microsoft/accessibility-insights-windows <accessibility-insights-windows@noreply.github.com>
Cc: ArchieCoder <sebastien.lachance@ho

[2019-08-12 18:23] Sirisha-Kommushetty commented on #333
@cheade - We have some ideas on what we could do here. Can we run by UX interviews for the next steps.

[2019-08-16 22:47] karanbirsingh opened #469 "[DOCS] "Entire app" behavior confusing when child popup window exceeds size of parent"
**Describe the bug**
When an application has a blocking child dialog, hovering over the child dialog does not change the UIA selection to the child dialog. Instead, the parent window remains selected. This is the intended behavior of 'entire app', but can be confusing in this context. In order to select the child window, the user needs to switch the "What to select" combobox to "Element" mode. We

[2019-08-19 20:50] DaveTryon opened #476 "Update to version 2.9.4 of the Roslyn analyzers"
**Is your feature request related to a problem? Please describe.**
AIWin is using Roslyn version 2.9.2 in most places. The current version is Roslyn 2.9.4. Based on similar work in Axe.Windows, this will require touching a large number of files. Creating a feature request for tracking. Change should have no impact on application functionality

[2019-08-19 20:54] DaveTryon opened #477 "[Feature Request] Consider newer version of ADO assemblies"
The ADO assemblies have been refreshed several times since our last update. We're using version 15.112.1, but the most recent version is 16.43.2. There are no known security issues at this time, so this is a non-urgent change that we may choose not to do.

[2019-08-21 18:04] ferBonnin commented on #477
Per conversation with Peter, this is not big enough for a feature, changing the type and adding engineering category

[2019-08-21 18:07] ferBonnin commented on #476
Per conversation with Peter, changing this to a bug and adding engineering category

[2019-08-23 23:21] peterdur commented on #476
Per conversation with Dave and Fer, tracking this as feature 1588220.

[2019-09-04 21:41] ferBonnin opened #520 "[BUG] Add tag "Accessibility Insights for Windows" when user files a bug in ADO"
**Describe the bug**
When a user files a bug in Azure Devops using the tool we would like to have a tag of "Accessibility insights for Windows"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Live Inspect
2. Scan an app with issues
3. file a bug in AzureDevOps from automated checks
4. tags are only A11y, Accessibility and WCAG or Section 508 rule.

**Expected behavior**
There is also a

[2019-09-06 18:12] karanbirsingh commented on #520
See canary - https://github.com/microsoft/accessibility-insights-windows/releases/download/v1.1.0978.01/AccessibilityInsights.msi

[2019-09-06 18:18] ferBonnin commented on #520
looks good!

[2019-09-06 18:18] #520 closed

[2019-09-12 14:17] fenchu opened #535 "[Feature Request] support selenium xpath/XML mappings for winappdriver"
I'm using accessibilityInsights with winappdriver. winappdriver uses XML mapping via appium/selenium webdriver. Would it be possible for accInsights to support webdrivers XML scheme, it is almost the same, but some different naming and caps.

I like AccInsights to address items like  Xpath

[code]
in Xpath this button can be addressed like:
[code]
![accInsight-open](https://user-images.githubuserc

[2019-09-13 17:42] LiLoDavis opened #537 "Color contrast analyzer auto detect has high confidence but wrong colors"
**Describe the bug**
The color contrast analyzer's auto detect has high confidence but the wrong colors.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Wildlife Manager 2.0 (demo app).
2. Use CCA auto detect contrast ratio of the label that says "Current Animals:".

**Expected behavior**
Auto detect identifies the foreground (Color 1) as #8D2D00.

**Actual behavior**
Actual background

[2019-09-16 17:04] Shobhit1 opened #542 "Implement a channel switch progress indicator"
**Is your feature request related to a problem? Please describe.**
So, if I am on a machine with slow internet connection or a VM (which generally has a slower internet connection then the base machine); changing channels from Production to Canary or from canary back to production take a long time. Also, if I open the accessibility-insights-windows application in between the process, the app seems

[2019-09-16 17:15] Shobhit1 opened #543 "Text on the automated checks overlaps with text from tabstops"
**Describe the bug**
The text on the automated checks page is all garbled up and overlaps with its internal tab pages i.e. text from `tabstop` and `automated checks` is overlapping each other.

Please see attached screenshot for a better understanding of how it looks.

**To Reproduce**
Steps to reproduce the behavior:
1. Start automated checks
2. Click on Tab stop to start tabstop
3. Click on refr

[2019-09-16 17:20] cheade opened #544 "[BUG] File issue button link is cut off"
**Describe the bug**
![image](https://user-images.githubusercontent.com/40274682/64978630-d6991380-d86a-11e9-8b7a-08be62459c31.png)

See "File issue" button link is cut off. The issue column is unable to be adjusted to accommodate full width of "file issue".

**To Reproduce**
Steps to reproduce the behavior:
1. Open Accessibility Insights
2. Run automated checks on an app that will produce Accessi

[2019-09-16 17:30] DaveTryon opened #545 "[BUG] Release script is not resilient to changes in Octokit version"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
The ValidateReleaseInfo.ps1 script uses a hardcoded version for Octokit, but the NuGet reference always picks up the latest version. As such, the script breaks when a new version is released.

Note: the Canary and Production release pipelines have the sam

[2019-09-16 17:40] cheade opened #546 "Issue filing UX/UI styling and behavior[BUG]"
**Describe the bug**
Button UX behavior and styling in the issue filing for Azure Boards section.
Text box behavior in GitHub Issue filing has primary text color instead of placeholder text (secondary-text), making it look like text is already filled in.

**To Reproduce**
Steps to reproduce the behavior:
1. Run automated checks on an app with errors
2. Click file issue (make sure you don't have a

[2019-09-16 18:20] Sirisha-Kommushetty commented on #542
Thanks for filing the issue. We're looking into how this would apply for the long term.

[2019-09-16 18:38] jalkire commented on #544
Context: this is happening because the width is a hardcoded value (due to WPF ListView behavior not lining up with what we wanted) set based on our original font size, which is no longer the default font size. It is not cut off when you set your font to small in settings:
![image](https://user-images.githubusercontent.com/4615491/64983852-5d9fb900-d876-11e9-95d7-8afcb76c5b4a.png)

This easy to fix

[2019-09-16 21:32] DaveTryon commented on #449
1.1.988.1 rolled to Insider today. We'll be able to close this once 1.1.988.1 rolls to Production

[2019-09-16 21:35] DaveTryon commented on #476
This went in with #530. Closing.

[2019-09-16 21:35] #476 closed

[2019-09-16 21:56] #545 closed

[2019-09-17 16:35] DaveTryon commented on #544
@cheade, the fix for this will be in build 1.1.0990.01. This build should be in the Canary channel on 9/18. Please regress it against an appropriate build, then close it out. Thanks!

[2019-09-23 16:21] LiLoDavis opened #563 "[BUG] Application window always opens maximized"
**Describe the bug**
On launch, the main application window always opens maximized, and the restore down button always shrinks the window to the same default size. As a consequence, I always have to fiddle with the window to get it to my preferred size and position.

**To Reproduce**
Steps to reproduce the behavior:
1. Open AI-Win.
2. Use the main application window's restore down button.
3. Manua

[2019-09-23 17:07] devaradhanm commented on #563
We should be saving the window status (Properties.Settings.Default.Save) of the application when on close event is fired.

[2019-09-23 18:19] DaveTryon commented on #563
It looks like layout.json isn't being updated on app shutdown. Investigating.

[2019-09-23 20:37] DaveTryon commented on #449
Build 1.1.990.1 (which contains this fix) just release to the Production channel. Closing.

[2019-09-23 20:37] #449 closed

[2019-09-23 20:38] DaveTryon commented on #544
@cheade, Build 1.1.990.1 (which contains this fix) just release to the Production channel. Please close at your convenience

[2019-09-23 20:41] cheade commented on #544
Thanks, team!

[2019-09-23 20:41] #544 closed

[2019-09-23 20:48] DaveTryon commented on #563
This has been merged to master. It will be in builds 1.1.993.1 or greater (should appear in the canary channel on 9/24/19)

[2019-09-23 22:59] ferBonnin commented on #537
Leaving this bug open to hear feedback from more users on the auto-detect color contrast. We might want to add telemetry to examine how often the toggle gets turned on/off too

[2019-09-24 16:16] DaveTryon commented on #563
@LiLoDavis, please regress this against the current canary build. Thanks!

[2019-09-24 16:36] LiLoDavis commented on #563
Looks good to me.

[2019-09-24 16:36] #563 closed

[2019-09-26 22:32] devaradhanm opened #581 "[BUG] Investigate on dependabot support for csproj files"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to h

[2019-09-29 23:27] adarshrema commented on #535
Hello @fenchu,
Thank you for your interest in Accessibility Insights and this feature request. This is a great suggestion, but not a priority for the team at this point.

We will keep this active and add it to our backlog. If you or someone in the community wants to help, please feel free to work on this. We would be happy to provide guidance.

[2019-09-29 23:40] adarshrema commented on #542
Hello @shobhit1,
Thank you for your interest in Accessibility Insights and this feature request. This is great feedback and needs more investigation by the team.

We will keep this active and will update this here when we know more.

[2019-09-30 20:06] ferBonnin commented on #581
@devaradhanm the bug filed doesnt have any information in the description, could you add the relevant information

[2019-09-30 20:14] ferBonnin commented on #546
Marking as help wanted, this should be a straightforward fix.

[2019-10-01 16:50] DaveTryon commented on #469
Moving back to "needs investigation" as Fer's request

[2019-10-01 18:13] dbjorge opened #584 "[BUG] There is no user feedback indicating that a non-admin AI4Win cannot scan an admin process"
**Describe the bug**

Since removing UIAccess-by-default from Accessibility Insights for Windows, we've received user reports of confusing behavior when trying to use a (non-elevated) Accessibility Insights process to scan elevated processes.

It's by design that you can't scan a higher-privileged process from a lower-privileged process, but the behavior in this state is currently confusing; in so

[2019-10-07 16:52] Shobhit1 commented on #543
Verified in Canary build. Working fine.

[2019-10-07 16:52] #543 closed

[2019-10-07 17:51] ferBonnin commented on #584
Per conversation with Peter we should do somethign about this.
Documentation in this case is probably not the way to go, having something in the UI will be more helpful.

Requires additional investigation from PM and Design team

[2019-10-07 23:43] devaradhanm commented on #581
@ferBonnin , we wanted to check if we can add dependabot support for dependencies in csproj as well. @DaveTryon , do you have more information on this?

[2019-10-09 17:31] DaveTryon commented on #581
I'll toss out another consideration. We currently use Visual Studio to manage the versions, so that is automated. If dependabot alone can handle all cases, great. If not, I'll strongly lobby that VS-provided automation is much better than no automation.

[2019-10-14 23:36] DaveTryon opened #601 "[BUG] Insufficient Color Contrast in Azure Boards config dialog"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
The placeholder text for the Azure Boards link uses a fixed color value of SlateGray, which is #708090. When rendered on a white background (the default), the color contrast is only 4.054:1, which is insufficient for 12px text. It also fails to respond to

[2019-10-17 09:28] v-lga-hub opened #605 "[Issues] What is "Text pattern" issue of Windows Form TextBox element?"
1. There always have a failure when automated check a textbox element in Windows Forms page.
Fix the following:
1. Make sure the element has the appropriate ControlType property for its function.
2. **If the current ControlType is correct, modify the element to support the Text pattern.**

2. I noticed that if i test the textbox element in a WPF project, there isn't this issue.

So **Is this an ac

[2019-10-17 17:47] #601 closed

[2019-10-17 17:49] DaveTryon commented on #546
@cheade, please regress this against a current canary build and close if it's fixed to your satisfaction. Thanks!

[2019-10-17 20:56] DaveTryon commented on #605
@v-lga-hub, what you're seeing here is the same issue that is reported at https://github.com/dotnet/winforms/issues/1588 (last updated on October 8th). It represents a shortcoming in the Windows Forms textbox control. We don't have any specific visibility to know when a fix will become available.

The issue itself stems back to [Section 508, subsection 502.3.10](https://www.access-board.gov/guidel

[2019-10-18 03:23] v-lga-hub commented on #605
@DaveTryon thanks a lot for your detailed explanation.

[2019-10-18 03:23] #605 closed

[2019-10-18 06:35] v-lga-hub opened #607 "[General Question] Which rules of WCAG2.1 support in Accessibility Insights for Windows for Windows Forms Page test?"
I know Accessibility Insights for Web has full WCAG2.1 coverage in the assessment experience. but i would like to know which rules of WCAG2.1 support in Accessibility Insights for Windows, especially for windows forms page?

[2019-10-18 17:25] DaveTryon commented on #607
@ferBonnin, how are we handling documentation issues? This is more of an Axe.Windows question, but www.accessibilityinsights.io doesn't talk much about Axe.Windows...

[2019-10-18 17:26] ferBonnin commented on #607
Hi @v-lga-hub we are in the process of creating a list of rules with their mapping in our rules engine repository: [axe-windows](https://github.com/Microsoft/axe-windows). We are tracking this in [Issue #164](https://github.com/microsoft/axe-windows/issues/164)

[2019-10-18 21:14] DaveTryon opened #608 "[BUG] Opening file by file association is broken if welcome dialog is shown"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
Opening an A11yTest file via double-click works correctly if `ShowWelcomeScreenOnLaunch` is false, but not if it's true

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure that `ShowWelcomeScreenOnLaunch` is true
2. Double-click on an A11yTest

[2019-10-18 21:16] DaveTryon commented on #608
@ferBonnin and @adarshrema, since this is a regression, I'd propose that we fix this before our next Insider release. It's tied to the John's recent welcome screen changes.

[2019-10-21 17:49] ferBonnin commented on #608
Per conversation with Peter, need to fix before release

[2019-10-23 17:36] cheade commented on #546
Thanks, @DaveTryon ! It looks like the GItHub Text color has been resolved but the button for Connecting the Azure DevOps account is still in its primary color. It should be disabled or not present until a user inputs the data into the text field.

[2019-10-23 17:44] ferBonnin commented on #546
assigning Dave and marking as Active since per Chelsea, the button is still not using expected behaviour

[2019-10-24 07:16] v-lga-hub opened #618 "[General Question] [NumericUpDown] The Name must not include the same test as the control type and LocalizedControlType"
**We encourage tool related questions to be asked on stackoverflow.com and tagged with `accessibility-insights`.**

**Your question here**
Make sure to provide enough context. If you have spoken to a team member please mention them here.
spinner just a part of NumericUpDown control in System.Windows.Forms. the name of spinner should not be changed by code. So **does this kinds of issue shouldn't b

[2019-10-24 17:01] jalkire opened #619 "[BUG] Crash when using keyboard to navigate UIA tree past last sibling"
**Describe the bug**
When using the ai-win hierarchy navigation hotkeys, if you attempt to navigate in an invalid way (ex to the next sibling when you are already on the last sibling, or to the first child when there is no child), ai-win crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Start ai-win and inspect an element
2. Use the next sibling hotkey (Ctrl + Shift + F8 by default) t

[2019-10-28 15:58] risanaka commented on #546
By the way, looking at 1.1.1025.1, the text field section for Azure Board and GitHub are slightly misaligned vertically (when you toggle between the two, it's a bit more evident, but here's a screenshot):

![image](https://user-images.githubusercontent.com/144273/67694482-a14f0d80-f960-11e9-98af-c8baf35277b9.png)

Also (including here since I'm not sure if it's a regression--let me know if I shoul

[2019-10-28 20:05] ferBonnin commented on #619
Per conversation with Peter, lets fix this.

[2019-10-28 20:17] ferBonnin commented on #619
@jalkire per conversation with Peter, could you please take a look at this?

[2019-10-28 22:55] DaveTryon commented on #618
@v-lga-hub, what you're seeing here is the same issue that is reported at microsoft/axe-windows#150 and dotnet/winforms#1588 (last updated on October 8th 2019). It represents a shortcoming in the Windows Forms NumericUpDown control, and is not something that would typically be fixed in your code. We know that the WinForms teams knows about this issue, but we don't have any specific visibility to k

[2019-10-30 22:49] jaredi opened #623 "[Feature Request] Black Theme / Dark Mode"
A Black Theme or Dark Mode would help me (and others with light sensitivities) use this tool without inducing migraines. Accessibility Insights is one of the few "bright white" tools I have to use on a regular basis that I cannot theme with a dark background.

I suffer from migraines due to light sensitivity, and a big part of it is applications that only offer a bright white theme.  It’s to the p

[2019-10-30 22:57] smoralesd commented on #623
Thanks for the feature request @jaredi we'll add this to our feature triage process. In the meantime, have you tried high contrast mode from Windows? I know it's not exactly what you're asking for but it may work as a good workaround for you.

[2019-10-30 23:09] jaredi commented on #623
That's a good thought, but unfortunately High Contrast Black Theme is not a good workaround, because it changes everything, including the application I'm currently developing. :)   I need to be able to use the Accessibility Insights tool against my application in both High/Low contrast themes.

[2019-10-31 00:20] ferBonnin commented on #623
Hi Jaredi, thanks for the feature requests and the insights on why high contrast is not a good workaround. We are investigating your feature request :)

[2019-10-31 00:36] RussKie commented on #618
@m-lipin didn't we fix the spinner issue?

[2019-11-07 02:00] #618 closed

[2019-11-12 20:25] ferBonnin commented on #607
Hi @v-lga-hub we have now a document with the [rules descriptions](https://github.com/microsoft/axe-windows/blob/master/docs/RulesDescription.md). Please let us know if this solves your question

[2019-11-14 14:32] M-Lipin commented on #618
I can reproduce it in .NET Core 3.1, filed the bug: https://github.com/dotnet/winforms/issues/2370

[2019-11-15 03:04] v-lga-hub commented on #607
I saw the document, it is helpful. thanks a lot.

[2019-11-15 03:04] #607 closed

[2019-11-21 18:43] Ajaz4193 opened #642 "AI for Desktop tool doesn't show UI property details with Live Inspect 'Element' option"
AI for Desktop doesn't recognize the individual elements through LIVE INSPECT option for  the below applications -

https://www.axure.com/
https://benchmarks.ul.com/pcmark10
https://www.sidefx.com/
https://marmoset.co/toolbag/
http://pixologic.com/

Using Live Inspect option either Entire Application/Element, it does not show any details of the focused elements/sections under Live Inspect  details

[2019-11-21 18:50] cheade opened #643 "UX Button behavior [BUG]"
**Describe the bug**
Button UX behavior and styling in the issue filing for Azure Boards section.

**To Reproduce**
Steps to reproduce the behavior:
1. Run automated checks on an app with errors
2. Click file issue (make sure you don't have a service connected, this should be a first-time setup)
3. Button to connect Azure Boards account is blue before any text has been entered.

**Expected behavio

[2019-11-21 18:51] cheade commented on #546
Second part of issue has been resolved. Bug created for first part of issue:
#643

[2019-11-21 18:51] #546 closed

[2019-11-21 20:35] karanbirsingh opened #644 "[BUG] image/text/text nodes remaining in UIA tree when not visible in connection control"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
In the issue filing configuration page, the UIA tree shows three nodes that are not visible on the screen: image "", text "", text "". It's likely that these come from the old avatar, email, and display name. These are no longer in the UI, afaik. We shoul

[2019-11-21 22:09] flyingUnderTheRadar opened #645 "Section 508 502.3.1: (Accessibility Insights for Android/text ' ') The Name property must not contain only space characters."
This might not end up being a valid issue.

As a part of the compliance I ran AI Windows over AI Android and the following accessibility issue needs investigation.  Added the a11ytest file in a comment. The extension will need to be reverted to "a11ytest" before checking.

**App:** Accessibility Insights for Android

**Element path:** text ' '

**Issue Details:** The Name property must not contain

[2019-11-21 22:13] flyingUnderTheRadar commented on #645
[AiWin-over-AIAndroid.zip](https://github.com/microsoft/accessibility-insights-windows/files/3877016/AiWin-over-AIAndroid.zip)

[2019-11-21 22:24] flyingUnderTheRadar commented on #645
This is the wrong repo.

[2019-11-21 22:24] #645 closed

[2019-11-25 20:09] DaveTryon commented on #642
Hi, @Ajaz4193 !

  Accessibility Insights is built on the Windows UI Automation framework, which is the same framework that is used for screen readers like Windows Narrator, [NVDA](https://www.nvaccess.org/download/), and [JAWS](https://support.freedomscientific.com/Downloads/JAWS). These tools work very well with standard UI controls, because standard UI controls expose the data that UI Automatio

[2019-12-02 17:50] DaveTryon commented on #643
@cheade, this is fixed in the most recent canary build. Please confirm, then either close the issue or assign it back to me with details on what is not yet correct. Thanks!

[2019-12-02 18:33] cheade commented on #643
This has been resolved, thank you, @DaveTryon!

[2019-12-02 18:33] #643 closed

[2019-12-02 20:03] DaveTryon commented on #644
@karanbirsingh, please regress against build 1.1.1062.01, then either close or assign back to me, as appropriate. Thanks!

[2019-12-05 21:16] AdamYoblick opened #666 "[General Question] - Command line support?"
Hello,

The winforms team is interested in running the accessibility insights tool as part of our CI build. I did some very brief initial investigation, but I didn't see any way to run accessibility tests from a command line.

Is there any advice around this? Would using axe-windows with a custom tool that navigates through our UI be the right approach here?

Thank you!
-Adam

[2019-12-06 20:12] haonliu commented on #666
Hi @AdamYoblick,

We would recommend using WinAppDriver and Axe.Windows for running automated accessibility tests. You can see how the automated accessibility tests are run for AI-Win in the UITest project of AI-Win [here](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fmicrosoft%2Faccessibility-insights-windows%2Ftree%2Fmaster%2Fsrc%2FUITests&data=02%7C01%7CHaonan.L

[2019-12-06 20:13] AdamYoblick commented on #666
Thank you @haonliu , I'll take a look 😄

[2019-12-06 22:00] DaveTryon commented on #619
@jalkire, we picked up the fixed version of Axe.Windows in #668, so this should now be resolved. Can you please regress/close? Thanks!

[2019-12-06 22:05] DaveTryon commented on #581
The Dependabot team has an open issue to consider adding support for csproj files: https://github.com/dependabot/dependabot-core/issues/1422

[2019-12-07 21:39] jalkire commented on #619
Verified in canary.

[2019-12-07 21:39] #619 closed

[2019-12-09 23:31] karanbirsingh commented on #644
Looks great

[2019-12-09 23:31] #644 closed

[2019-12-10 17:56] DaveTryon commented on #584
@ferBonnin, there may be a way to do this. Looking at the telemetry, UIA throws an UnauthorizedAccessException when we attempt to interact with windows where permissions are denied.  We are unable to obtain any information about these elements (not even their sizes), but we could potentially display some AIWin UX element in response to receiving these Exceptions. That UX element could then be hidd

[2019-12-10 17:59] ferBonnin commented on #584
Thanks for the investigation and suggestion Dave. This would probably need some design work for the message ( I don't recall us showing any other message like this in the tool). Once we have that, would this be feature size or bug size?

[2019-12-10 18:00] ferBonnin commented on #623
Marking this as ready for work. Design team has provided us with the colors for implementing this feature :)

[2019-12-10 18:13] DaveTryon commented on #584
@ferBonnin. This is larger than bug size. The Exceptions are currently being caught and suppressed inside Axe.Windows. We'd need to decide how to expose those Exceptions to AIWin, update Axe.Windows, publish a new NuGet package, consume the new package in AIWin, then integrate the notifications into the UX.

[2019-12-10 19:03] ferBonnin commented on #584
Got it, thanks Dave. changing this to feature request, we will prioritize this against other feature requests

[2019-12-12 16:44] cheade commented on #623
Adding the Figma link to the color palette for [Windows - Dark mode:](https://www.figma.com/file/MxXdGGjWOjE7KaL3rfJNed5C/Accessibility-Insights-for-Windows?node-id=2505%3A0)

[2019-12-17 17:10] guybark opened #673 "[BUG]AIWin reports known UIA HeadingLevel property values as being unknown"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
UIA HeadingLevel properties are not reported in the most helpful way to AIWin users.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Windows Settings app System Sound page.
2. Point the AIWin tool at the "Output" heading on the page.
3. Ch

[2019-12-17 17:27] guybark opened #674 "[BUG] AIWin reports known UIA StyleId property values as being unknown"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
UIA StyleId properties are not reported in the most helpful way to AIWin users.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a Microsoft web page with semantic headings. For example, Office.com.
2. Point the AIWin tool to a heading on the p

[2019-12-20 21:33] guybark opened #675 "[BUG] Color contrast value background does not respect the active high contrast theme"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
The area showing the color contrast value in AIWin has a background of gray, instead of a background color from the active high contrast theme. As such, the customer may be blocked from accessing the contrast information.

**To Reproduce**
Steps to reprod

[2019-12-31 05:09] DaveTryon commented on #623
@jalkire, I've added the framework for selecting the palette at https://github.com/DaveTryon/accessibility-insights-windows/tree/DarkMode, but as you suspected, assigning the palette colors is proving more difficult than I suspected. I won't be looking at this further until I'm back in the office, in case you wanted to see how far you could get with it.

[2020-01-02 18:24] adarshrema commented on #673
Hello @guybark, thank you for using Accessibility Insights for Windows and for reporting this issue. This has been marked ready for work and added to our backlog to be fixed.

[2020-01-02 18:25] adarshrema commented on #674
Hello @guybark, thank you for using Accessibility Insights for Windows and for reporting this issue. This has been marked ready for work and added to our backlog to be fixed.

[2020-01-02 18:26] adarshrema commented on #675
Hello @guybark, thank you for using Accessibility Insights for Windows and for reporting this issue. This has been marked ready for work and added to our backlog to be fixed.

[2020-01-06 18:58] ferBonnin commented on #642
@Ajaz4193 can you please let us know if this answers your question?

[2020-01-07 17:50] DaveTryon opened #682 "[BUG] Tracking bug to pick up next Axe.Windows"
We have some issues that are blocked behind moving to an updated version Axe.Windows version once it's published. This bug provides a single point to help track what gets pulled in when the new version is published and adopted.

Issues being tracked:
- [UIA HeadingLevel values not friendly](https://github.com/microsoft/axe-windows/issues/263)
- [StyleId values not friendly](https://github.com/micr

[2020-01-08 18:43] jalkire commented on #675
Fix is in the latest canary release.

[2020-01-09 19:30] FalseLobster opened #685 "[Feature Request] Better visualization and navigation of a UIA tree"
**Is your feature request related to a problem? Please describe.**
I find it very hard to navigate the UIA tree of an application using the Inspect feature.  I wish there was a way to see the ENTIRE tree for a UIA node--- all the descendants, siblings of those descendants, etc...

Instead the UIA tree is treated almost like a call stack, where Accessibility Insights shows a given node and the enti

[2020-01-10 18:37] guerjon opened #686 "[BUG]"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**TS lint on VSC can't find axe-webdriverjs**
After clone the project and install the dependencies, was reading in the file index.test.ts and realize that import * as AxeWebdriverjs from 'axe-webdriverjs'; was showing this error

This is also happening after try to implement

[2020-01-10 22:04] DaveTryon commented on #623
Putting this one back into the stack, since I'm actively working on something else.

[2020-01-13 18:50] ferBonnin commented on #675
Hi @guybark , the fix for this bug is now available in the Canary release. You can change your release to verify this change by going to the Setting options and changing the Channel in Accessibility Insights for Windows.

Please let us know if this fixes the issue!

[2020-01-13 21:16] adarshrema commented on #666
Hello @AdamYoblick, can you please go ahead and close this if your question was answered satisfactorily? Thank you!

[2020-01-13 21:16] #666 closed

[2020-01-14 18:28] adarshrema commented on #685
Hello @FalseLobster, thank you for using Accessibility Insights for Windows and this feature request. I am closing this in favor of a duplicate request we are tracking as [issue #333](https://github.com/microsoft/accessibility-insights-windows/issues/333). Please follow that issue for updates. I will also add your +1 to the request there.

[2020-01-14 18:28] #685 closed

[2020-01-14 18:31] adarshrema commented on #333
+1 from @FalseLobster at [issue #685](https://github.com/microsoft/accessibility-insights-windows/issues/685).

[2020-01-16 17:45] DaveTryon opened #689 "[BUG] Old installer link on https://accessibilityinsights.io/"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
The fwlink used for the download MSI from https://accessibilityinsights.io/ is pointing to an old version of the MSI. It should be pointing to the current production release, which is at https://github.com/microsoft/accessibility-insights-windows/releases

[2020-01-20 20:00] #642 closed

[2020-01-21 19:50] DaveTryon commented on #689
Updated fwlink

[2020-01-21 19:50] #689 closed

[2020-01-23 00:42] DaveTryon opened #691 "[DOC BUG] Screenshots on www.AccessibilityInsights.io are out-of-date"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
Screenshots on www.AccessibilityInsights.io were made with the version that we shipped in March of 2019. Since then, the version has been removed from the command bar, and recent builds (1.1.1102.05 or newer) have also removed the "Whats New" tab from the

[2020-01-24 21:03] ferBonnin commented on #691
@DaveTryon this should be filed in the Docs repo instead of here :)

[2020-01-24 23:47] DaveTryon commented on #675
@guybark, this is now live in the Production release

[2020-01-29 17:48] DaveTryon commented on #682
This has been merged into the current Axe.Windows feature, so we don't need a separate issue for it. Closing.

[2020-01-29 17:48] #682 closed

[2020-01-29 18:39] WilliamXieMSFT opened #694 "[BUG] "Listen to all events" checkbox excludes property-based events even if explicitly selected"
**Describe the bug**
Live Inspecting a CheckBox control does not report ToggleStatePropertyChanged when it is checked/unchecked.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple WPF app with CheckBox: (xaml snippet)
`<CheckBox x:Name="MyCheckBox"
                  Content="Hello World"
            />`
2. Run the WPF app and Live Inspect the CheckBox:
![image](https://user-imag

[2020-01-31 17:51] Erarndt opened #695 "Color contrast analyzer could suggest alternative colors"
**Is your feature request related to a problem? Please describe.**
Color contrast analyzer does a great job of discovering issues, and I think it could go one step further and offer suggestions on what specific colors to use to resolve the issue.

**Describe the solution you'd like**
There are tools available that will suggest colors that are close to the initial colors. It would be great if that

[2020-01-31 18:20] karanbirsingh commented on #694
Hi @WilliamXieMSFT - thanks for the detailed report. It seems I can reproduce this if "Listen to all events" is checked. When I leave "Listen to all events" unchecked, the property events show up properly. Can you try that to see if it unblocks you?

![screenshot of event recording](https://user-images.githubusercontent.com/7775527/73563088-60f4a500-4411-11ea-88d0-e4dd86b8a256.png)

[2020-01-31 19:19] WilliamXieMSFT commented on #694
@karanbirsingh Hi, thank you for your reply.

I can confirm that if I set My Events > Properties > TogglePattern.ToggleState only (without Listen to All Events), I do get the AutomationPropertyChanged event:
![image](https://user-images.githubusercontent.com/29215642/73567440-445d6a80-441b-11ea-8888-5408dcd2ca84.png)

And I can confirm that checking "Listen to All Events" causes the issue:
![image

[2020-01-31 19:23] karanbirsingh commented on #694
Sounds good - I have updated the issue title so we can track this on our backlog. Thanks for the bug report!

[2020-02-01 02:00] #675 closed

[2020-02-03 18:49] karanbirsingh commented on #694
@jalkire has found that the "Changes" event causes this issue - removing the "Changes" event leads property events to show up again

[2020-02-07 19:45] adarshrema opened #700 "[BUG] Object navigation in Narrator not in the logical/ visual sequence"
Issue: While using object navigation in Narrator, the disabled Save and close button is not announced in the logical/ visual navigation sequence
User impact: Screen reader users are presented with a navigation order that is different from logical/ visual order

Screen: Settings > Application

Repro steps:
1. Open Accessibility Insights for Windows and navigate to Settings (left nav panel)
2. Narra

[2020-02-10 18:29] adarshrema commented on #695
Hello @Erarndt, thank you for using Accessibility Insights for Windows and for submitting this feature request. Have you tried using the Color Picker box to select foreground and background colors manually?

With current priorities, we think the ability to select a foreground and background color manually to re-run a test indirectly addresses the lack of auto suggestion.

[2020-02-10 18:38] Erarndt commented on #695
Hi @adarshrema. The color picker is a very useful tool and I use that in combination with the external tool that I linked to in my initial post to help me resolve color contrast issues. How nice would it be to have a similar tool integrated into the product that would suggest similar colors to use?

[2020-02-10 19:09] adarshrema commented on #695
Thank you for that feedback @Erarndt. We are unable to pick this up given our current priorities. I have added help wanted label to invite community contributions. Is this something you would like to work on and contribute?

[2020-02-11 20:25] adarshrema commented on #581
Can be done piece meal (project), slack time

[2020-02-13 00:47] smoralesd opened #705 "[BUG] AI-Win not properly reporting text pattern on Win32 updown control"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Win32 window app from the regular template in VS.
2. Replace the About dlg with the following:
[code]
3. Run the app and move keyboard focus to the edit area where the current updown value is shown.
4. Use AI-Win to inspect the updown control
5. Observe: AI-Wi

[2020-02-14 21:48] adarshrema opened #707 "[BUG] Accessible name different from on-screen label"
where: Settings > Connection
Issue: Assistive Technology(AT) users are presented with details different from on-screen lable for issue filing link text box
Repro steps:
1. Open NVDA screen reader 
2. Navigate to Settings->connection in Accessibility Insights for Windows 
3. Select Azure Boards radio button 
4. Navigate to the input box under “Enter desired Azure Boards link” using keyboard and com

[2020-02-17 23:00] #695 closed

[2020-02-18 17:00] DaveTryon opened #708 "[BUG] AIWin can no longer open YellowBox files"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
Current canary MSI installations of AIWin are no longer able to open "YellowBox" files. Production MSI installations work fine, as do master builds that are run directly from the debugger. Current theory is that the updated drop of Axe.Windows has depende

[2020-02-19 18:42] DaveTryon commented on #708
Fixed in https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1144.01

[2020-02-19 18:42] #708 closed

[2020-02-25 18:25] DaveTryon commented on #707
@adarshrema, per our conversations, the AT experience still lacks an equivalent of the placeholder text, but it's an intentional compromise to avoid sensory overload from JAWS or NVDA repeating the prompt and the placeholder twice. Change is in the current canary build. Please regress/close as appropriate.

[2020-02-26 23:06] adarshrema commented on #700
validated in Canary

[2020-02-26 23:06] #700 closed

[2020-02-27 23:16] adarshrema commented on #707
Validated fix in Canary

[2020-02-27 23:16] #707 closed

[2020-03-05 01:04] kenvanhyning opened #717 "Provide full support for testing Electron based applications"
Azure Data Studio is based on VS Code and adds quite a rich set of graphical UI experiences.  Currently we do not use AI due to its lack of full support for testing Electron based applications.

We would like to be able to push more issues to the developer rather than finding issues during accessibility testing.

[2020-03-05 21:12] adarshrema commented on #717
Hello @kenvanhyning, thank you for your interest in Accessibility Insights and this feature request. This is definitely on our radar and we will keep this open to assess community interest, and to discuss specifics when we are ready to dig deeper.

[2020-03-08 02:25] Jschwartz89 opened #718 "[BUG]"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to h

[2020-03-09 17:05] pownkel commented on #718
Thank you for your interest in Accessibility Insights! It looks like you haven't filled out the bug report template. Could you describe the bug you encountered?

[2020-03-12 15:38] DaveTryon commented on #623
@jaredi @lekevin-microsoft @cwalker-msft @jlyday @aalapc @eylult @martinca-msft @elsypinzonv @wravery, just wanted to let you know that an initial version of dark mode (covering only some of the top level windows) is available for initial feedback. You can get it by switching to the Canary channel and modifying your config file to enable dark mode as described in #719. We'd love to get your feedba

[2020-03-12 15:57] jaredi commented on #623
Installed and working.  I'll try it out more today.  It's much more pleasant on my eyes.  Thank you!!

[2020-03-19 15:28] ferBonnin commented on #623
hi @jaredi @lekevin-microsoft @cwalker-msft @jlyday @aalapc @eylult @martinca-msft @elsypinzonv @wravery we would love to hear your feedback on the dark mode!
Thanks!

[2020-03-19 21:12] DaveTryon opened #731 "[Feature Request] Consider tighter MSI validation"
VersionSwitcher currently checks only that the new MSI has a valid and non-revoked digital signature, and disregards _who_ signed the MSI. We might want to tighten this check to ensure that VersionSwitcher only installs _our_ MSI's. Here is a non-exhaustive list of options:

1. Validate the canonical name of the MSI's signing certificate against a collection of names built into the VersionSwitcher

[2020-03-20 02:01] cwalker-msft commented on #623
This is a really great start. Please update these boxes to also use dark backgrounds:

![image](https://user-images.githubusercontent.com/57200230/77130154-0ab8e100-6a14-11ea-85aa-8fddc602757e.png)

[2020-03-20 22:06] DaveTryon commented on #623
@cwalker-msft, please check out #734

[2020-03-25 00:58] ferBonnin commented on #623
received feedback from requester via email

[2020-03-30 21:17] RobGallo opened #744 "[BUG] ItemContainer.FindItemByProperty method throws exception"
## Problem

_Exception thrown_

“Exception during invoking ItemContainerPatter.FindItemByProperty Catastrophic failure (Exception from HRESTUL: 0x8000FFFF (E_UNEXPECTED))”.

## Steps to repro

1. install the [XAML Controls Gallery app](https://www.microsoft.com/en-us/p/xaml-controls-gallery/9msvh128x2zt?activetab=pivot:overviewtab)
2. Go to the Collections->ListView page.
3. Point AIWin to the lis

[2020-03-30 21:30] RobGallo opened #745 "[Feature Request] The ItemContainer pattern's FindItemByProperty UI should account for the starting element parameter"
**Is your feature request related to a problem? Please describe.**

When an element supporting the ItemContainer pattern is inspected, and when the FindItemByProperty method is invoked from the pattern's actions dialog, it is not possible to specify the starting element for the search.

**Describe the solution you'd like**

Either

A. AI-Win allows the user to select the starting element for the s

[2020-03-31 17:50] DaveTryon opened #747 "[BUG] GitHub issue filing fails silently on invalid url"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
GitHub issue failing fails silently if the specified url includes a space before "http"

**To Reproduce**
Steps to reproduce the behavior:
1. Launch AIWin
2. Configure for a valid GitHub repo, but insert an extra space at the beginning of the url
3. Save

[2020-03-31 21:36] karanbirsingh opened #748 "[BUG] Flakiness in Azure Devops issue filing"
This bug tracks flakiness in setting up the ADO account for issue filing. AI-Windows uses the [.NET ADO client libraries](https://docs.microsoft.com/en-us/azure/devops/integrate/concepts/dotnet-client-libraries?view=azure-devops#overview) in order to enable auto-attachment uploading. Long-term this UI will move into the unified client, which will likely have a fire-and-forget model without any aut

[2020-04-01 22:30] DaveTryon commented on #477
This is in Canary

[2020-04-01 22:30] #477 closed

[2020-04-06 18:20] adarshrema commented on #745
Fixed in PR [#751](https://github.com/microsoft/accessibility-insights-windows/pull/751)

[2020-04-07 17:00] #747 closed

[2020-04-07 17:03] #744 closed

[2020-04-08 21:24] DaveTryon opened #754 "[ENG] Exception when starting under latest Visual Studio"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
Our `ConfigurationManager` initialization code depends on a specific initialization order that can fail at app startup. Our previous workaround was to allow an Exception to be thrown, then silently eat it. This works, but the Exception is getting flagged

[2020-04-08 23:07] #754 closed

[2020-04-09 00:50] DaveTryon opened #756 "[BUG] Disappearing icons in HC White mode"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
The dark mode changes have caused some unintended changes in HC modes, at least one of which is a regression that impacts usability.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the canary build
2. Enable HC White mode
3. Look at the icon

[2020-04-10 00:43] #756 closed

[2020-04-13 16:23] DaveTryon commented on #745
The comment that this was fixed in PR #751 is incorrect. PR #751 fixed issue #744, but this issue represents a change in the UI and is still open

[2020-04-13 17:33] guybark opened #762 "[Feature Request] Persist my UIA event selection during a AIWin session"
Say I make a careful custom selection for UIA event reporting, and then get a bunch of events reported by AIWin as desired. I then stop event reporting to do a bit of live inspection of the UI. I then return to the event selection UI and have to make my careful selection again. Could AIWin remember my previous choice, at least during a single session?

[2020-04-21 16:35] DaveTryon commented on #623
#764 has merged into release [1.1.1206.01](https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1206.01), which released to canary this morning. With this change, dark mode is now enabled by default. Closing this issue, but please file separate issues for things that seem wrong in dark mode.

[2020-04-21 16:35] #623 closed

[2020-04-22 14:25] iamrafan opened #765 "WCAG 2.1: Reflow - Text in the right pane in automated checks is truncated at 200% zoom"
**Describe the bug**
The following text in the right pane in automated checks is truncated
- Target app text
- Automated checks heading
- Failure message count sub text

**To Reproduce**
Adjust the following display settings in Windows :
- Display resolution to ```1280 * 1024```
- Scaling size to ```200%```

Steps to reproduce the behavior:
1. Run AI-Windows on any app that fails automated checks

[2020-04-22 14:37] iamrafan opened #766 "WCAG 2.1: Reflow - Shortcut text information in settings is truncated at 200% zoom"
**Describe the bug**
Text information for ```shift+F5``` shortcut is truncated in Settings -> Application

**To Reproduce**
Adjust the following display settings in Windows :
- Display resolution to ```1280 * 1024```
- Scaling size to ```200%```

Steps to reproduce the behavior:
1.  Navigate to Settings -> Application in AI-Windows
2. Observe that the complete text information for ```Shift+F5``` i

[2020-04-22 14:49] iamrafan opened #767 "WCAG 2.1: Target app highlighter is off-screen on 3 sides at 200% zoom"
**Describe the bug**
Target app highlighter is not visible on 3 sides at 200% zoom, when ```What to select``` is set to ```Entire app```

**To Reproduce**
Adjust the following display settings in Windows :
- Display resolution to ```1280 * 1024```
- Scaling size to ```200%```

Steps to reproduce the behavior:
1.  Open AI-Windows
2. Set ```What to select``` to ```Entire app```
3. Hover on any windo

[2020-04-22 15:13] iamrafan opened #768 "WCAG 2.1: Reflow - Breadcrumb information is truncated in 'UI automation tree results view'' at 200% zoom"
**Describe the bug**
Breadcrumb information is truncated in 'UI automation tree results view'' when the pane splitter is in default position (Considering the splitter position in Automated Checks as default)

**To Reproduce**
Adjust the following display settings in Windows :
- Display resolution to ```1280 * 1024```
- Scaling size to ```200%```

Steps to reproduce the behavior:
1.  Launch AI-Wind

[2020-04-22 15:24] iamrafan opened #769 "WCAG 2.1: Reflow - Help text in search box is not completely available at 200% zoom"
**Describe the bug**
The search box help text in the left pane in "UI Automation tree view" is not completely accessible when the pane splitter is in default position (Considering the splitter position in Automated Checks as default)

**To Reproduce**
Adjust the following display settings in Windows :
- Display resolution to ```1280 * 1024```
- Scaling size to ```200%```

Steps to reproduce the be

[2020-04-22 15:37] iamrafan opened #770 "WCAG 2.1: Reflow - Long app/element names in the right pane in "UI automation tree view"are truncated at 200% zoom"
**Describe the bug**
Long app/element names in the right pane in "UI automation tree view" are not completely accessible when the pane splitter is in default position (Considering the splitter position in Automated Checks as default)

**To Reproduce**
Adjust the following display settings in Windows :
- Display resolution to ```1280 * 1024```
- Scaling size to ```200%```

Steps to reproduce the be

[2020-04-22 15:47] iamrafan opened #771 "WCAG 2.1: Reflow - Accessing 'how to test' content in 'tab stops' requires two dimensional scrolling at 200% zoom"
**To Reproduce**
Adjust the following display settings in Windows :
- Display resolution to ```1280 * 1024```
- Scaling size to ```200%```

Steps to reproduce the behavior:
1.  Launch AI-Windows
2. Navigate to Tests->Tabstops
3. Observe two dimensional scrolling is required to access all the "How to test" content

**Expected behavior**
Text content should be made available without requiring to scr

[2020-04-22 16:07] iamrafan opened #772 "WCAG 2.1: Reflow - Horizontal scrolling is applied on the entire right pane instead of just the data table in 'tab stops'"
**Describe the bug**
Accessing the complete data table requires horizontal scrolling which scrolls the entire right pane instead of just the data table.

**To Reproduce**
Adjust the following display settings in Windows :
- Display resolution to ```1280 * 1024```
- Scaling size to ```200%```

Steps to reproduce the behavior:
1. Launch AI-Windows
2. Navigate to Tests->Tabstops
3. Observe that horiz

[2020-04-22 16:14] jalkire commented on #762
Hi @guybark, we just wanted to confirm that you are aware of the ability to save a custom list of events and properties to listen to with the "My Events" section of the event configuration. The list of events you select with My Events will persist across different event recording sessions, unlike your checkbox selections. Does this feature meet your needs for event selection persistence, or is it

[2020-04-22 16:37] iamrafan opened #773 "WCAG 2.1: Reflow - Actions' pop up windows too large and partially off screen on launch at 200% zoom"
**To Reproduce**
Adjust the following display settings in Windows :
- Display resolution to ```1280 * 1024```
- Scaling size to ```200%```

Steps to reproduce the behavior:
1. Launch AI-Windows
2. Live inspect any Windows app
3. Switch back to AI-Windows, '
4. Make sure Details' tab is open in the right pane
5. In patterns section, click on ```actions``` button related to any specific pattern
6. O

[2020-04-23 15:49] RobGallo commented on #694
It turns out the problem here is in either UIA or the provider interfaces implemented by WPF. If one adds a listener for "Changes" events before listening for property change events, the problem occurs. If the order is reversed, the problem does not occur. However, because we have no evidence that reversing the order will not cause a similar, as yet unknown problem, we are not reversing the call o

[2020-04-28 03:08] pcable opened #776 "[BUG] Installer error 2755"
**Describe the bug**
I attempted to install the msi but received error 2755.

**To Reproduce**
Steps to reproduce the behavior:
1. Download installer from https://aka.ms/accessibilityinsights-windows/download
2. Attempt install
3. Get error 2755

See attached log

**Desktop (please complete the following information):**
 - OS: Windows 10 1903
 - Accessibility Insights for Windows Version: 1.1

[in

[2020-04-28 16:49] DaveTryon opened #782 "[ENG]: Clean up CustomGridView.cs"
**Describe the bug**
[CustomGridView.cs](https://github.com/microsoft/accessibility-insights-windows/blob/master/src/AccessibilityInsights.SharedUx/Controls/CustomControls/CustomGridView.cs) has a lot of unused code, and it's not clear if it's an incomplete cleanup or if it's supposed to be active. For example, should `CustomCridViewAutomationPeer.CreateItemAutomationPeer` be marked as an override

[2020-04-28 18:38] dbjorge commented on #776
Hi @pcable,

We're sorry you're hitting this issue! We haven't been able to reproduce the problem you're seeing, and unfortunately the error information in the log file is fairly generic. The most specific information we think is relevant is `Error 2755:  Server returned unexpected error 110 attempting to install package`, which has many potential causes.

Some options to try:

* Download the inst

[2020-04-28 22:07] WilliamXieMSFT commented on #694
Confirmed the bug is fixed in the canary build. Thanks!

![image](https://user-images.githubusercontent.com/29215642/80542494-ebda3280-8961-11ea-9f4e-e04314719728.png)

[2020-04-28 22:07] #694 closed

[2020-04-29 20:00] #762 closed

[2020-04-30 01:40] pcable commented on #776
Thanks. Turns out all msi's on my machine are failing with code 2755.

[2020-04-30 01:40] #776 closed

[2020-05-05 18:25] #782 closed

[2020-05-11 18:42] DaveTryon commented on #581
Picking this up. We can't convert projects that require fakes, so that excludes 3 test projects (at least until we can replace their dependencies on Fakes, but that's a separate work item). That said, we ought to be able to convert the shipping code and some of the test code.

[2020-05-11 22:05] iamrafan opened #787 "[BUG] "Getting started" dialog is too wide and partially off screen at 200% zoom"
**Describe the bug**
As per our discussion, we need to reduce the width of the "welcome dialog" to make the grayed out area visible on all four sides and make it look like a pop up

**To Reproduce**
Adjust the following display settings in Windows :
- Display resolution to ```1280 * 1024```
- Scaling size to ```200%```

Steps to reproduce the behavior:
1. Make sure to clear the configurations(if a

[2020-05-15 16:06] DaveTryon commented on #787
This is fixed in the current canary build (see https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1230.01)

[2020-05-15 16:08] DaveTryon commented on #299
Welcome screen is finally updated in the current canary build (see https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1230.01). Closing this out.

[2020-05-15 16:08] #299 closed

[2020-05-18 15:14] adarshrema commented on #773
From internal testing for accessibility. To be combined with results from planned HC testing.

[2020-05-18 15:15] adarshrema commented on #772
From internal testing for accessibility. To be combined with results from planned HC testing.

[2020-05-18 15:17] adarshrema commented on #771
From internal testing for accessibility. To be combined with results from planned HC testing.

[2020-05-18 15:18] adarshrema commented on #770
From internal testing for accessibility. To be combined with results from planned HC testing.

[2020-05-18 15:19] adarshrema commented on #769
From internal testing for accessibility. To be combined with results from planned HC testing.

[2020-05-18 15:23] adarshrema commented on #748
Triaged on 4/6/2020. Relatively low priority as issue filing feature usage is very low based on telemetry. Added to the backlog to assess community interest and to prioritize with other work items.

[2020-05-18 15:24] adarshrema commented on #768
From internal testing for accessibility. To be combined with results from planned HC testing.

[2020-05-18 15:25] adarshrema commented on #767
From internal testing for accessibility. To be combined with results from planned HC testing.

[2020-05-18 15:26] adarshrema commented on #766
From internal testing for accessibility. To be combined with results from planned HC testing.

[2020-05-18 15:27] adarshrema commented on #765
From internal testing for accessibility. To be combined with results from planned HC testing.

[2020-05-18 15:35] adarshrema commented on #542
Needs design input. Keeping this active to prioritize against other work items.

[2020-05-18 20:56] DaveTryon opened #794 "[BUG] Transposed mappings for Android Rule/WCAG guidance"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
In AI for Android 2020.515.2, the WCAG mappings for TouchSizeWcag and ActiveViewName are transposed. TouchSizseWcag should point to WCAG 2.5.5, and ActiveViewName should point to 1.3.1 and 3.3.2.

**To Reproduce**
Steps to reproduce the behavior:
1. Start

[2020-05-20 06:02] adarshrema opened #797 "Persist resized Property and Value column width within and across sessions[Feature Request]"
Based on conversation with @guybark during office hours on 5/18/2020:
When I am using a single monitor and have 200% zoom with Accessibility Insights for Windows and another app almost side by side I need to resize the columns on properties and values every time I select a new element. Can you please make it remember my resize selection?

Repro steps
1. Adjust the following display settings in Win

[2020-05-20 21:08] DaveTryon opened #799 "[BUG] Text issues in TextPattern explorer in dark mode"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
When in dark mode, attributes displayed in the TestPatternExplorer are white text on a white background. If you select, you get white text on a light background. The text should probably be black.

**To Reproduce**
Steps to reproduce the behavior:
1. Star

[2020-05-28 11:01] ChristoWolf commented on #333
+ 1 from me.
Also, I think it would be nice to extend this feature even further: It should be possible to visualize the whole UI automation tree similar to how it is visualized in inspect.exe.
This way, one could navigate to any element in any running application by clicking it in the UI tree instead of clicking the element in the UI.

[2020-05-28 17:36] DaveTryon commented on #799
This is fixed in Canary

[2020-05-28 17:36] #799 closed

[2020-05-28 17:39] #787 closed

[2020-06-01 20:04] adarshrema commented on #535
Hello @fenchu, this issue has been open for a while with no feedback or interest from the community. This is not a priority for our team and we think it might be a good idea to reach out to the [WinAppDriver](https://github.com/microsoft/WinAppDriver/blob/master/Docs/AuthoringTestScripts.md#supported-locators-to-find-ui-elements) team instead.

[2020-06-01 21:10] fenchu commented on #535
I think the winappdriver project is dead: https://github.com/microsoft/WinAppDriver/issues/1103.
Xml/xpath is the de-facto standard in automation used by all browsers for years.

[2020-06-01 22:54] adarshrema commented on #797
Hello @guybark, this issue was triaged by our team and has been added to the backlog to be prioritized against other work items.

[2020-06-01 23:53] adarshrema commented on #535
@fenchu, is this something you would be interested in contributing to?

[2020-06-02 20:47] DaveTryon opened #809 "[BUG] Azure Boards zoom level isn't being persisted"
**Describe the bug**
The zoom level for the Azure Boards bug filing window is not getting updated when the user changes it in the control.

**To Reproduce**
Steps to reproduce the behavior:
1. Scan Wildlife Manager
2. Pick one of the failures
3. File an issue against that issue
4. Change the zoom level in the bug filing window
5. Save the bug, then exit AIWin
6. Restart AIWin
7. Re-scan Wildlife M

[2020-06-03 17:33] guybark opened #811 "[BUG] AIWin doesn't report a Win32/WinForms ListView's support for UIA Grid and Table patterns"
**Describe the bug**
AIWin doesn't report a Win32/WinForms ListView's support for UIA Grid and Table patterns

**To Reproduce**
Steps to reproduce the behavior:
1. Either create a WinForms app using .NET Framework 4.8 and add a multicolumn ListView with items, subitems, and column headers, or invoke the Properties dialog of an icon on your Windows desktop and move to the Win32 list in the Details

[2020-06-08 18:56] guybark opened #814 "[BUG] Unable to view the UIA tree once the pane width has been reduced to zero"
Steps to reproduce the behavior:
1. Run the AIWin tool and point it to some UI element to populate AIWin's UIA tree and details panes.
2. Using the mouse, reduce the width of the pane containing the UIA tree to zero. I did this deliberately in order to be able to generate a screenshot on a fairly small screen, where I needed to capture some target app's UI and AIWin's Details pane, but not the UIA

[2020-06-08 19:11] guybark opened #815 "[BUG] AIWin Events TreeView expandable nodes should have 3-state checkboxes"
**Describe the bug**
The Events checkbox UI is unclear as to what events will be reported.

**To Reproduce**
1. Run AIWin and get to its Events treeview in preparation to listening for FocusChanged and LiveRegionChanged events.
2. Check and uncheck individual events' radio buttons until only the checkboxes for the FocusChanged and LiveRegionChanged events are checked.

**Expected behavior**
The Ev

[2020-06-08 21:22] DaveTryon commented on #814
Plan is to set a minimum width of 1 or 2 pixels on each side of the splitter, so that the splitter can always be retrieved with the mouse. @guybark, the splitter is already always accessible via keyboard (press tab until the splitter is highlighted, then use the arrow keys to reposition).

[2020-06-09 00:55] adarshrema commented on #815
Confirmed with @guybark that the parent nodes for the event tree are,
* Expected events.. by control type
* My events

[2020-06-10 02:00] #535 closed

[2020-06-10 14:29] ranjeshj opened #816 "Is there support for running accessibility insights tool as part of app tests say in an Azure pipeline"
**Your question here**
We can run the tool on a UWP app manually. Is there support to automate the fast pass tests in a PR or CI pipeline without having to manually launch the tool and click around ? That way we can catch violations before they are merged in.
Thanks!

[2020-06-10 17:05] #816 closed, assigned to nobody

[2020-06-15 19:07] guybark commented on #814
@DaveTryon - Thanks for the note on how to use the keyboard to change the width of the panes, that's really helpful! The splitter's keyboard focus feedback seems to respect colors from the active high contrast theme too. Nice!

[2020-06-15 19:12] guybark opened #817 "[BUG] AIWin keyboard focus feedback can be very difficult to discern when a high contrast theme is active"
1. Turn on the Windows High Contrast White theme.
2. Run AIWin and tab around the UI.
3. Verify that the keyboard focus feedback shown in AIWin has strong contrast against its surroundings.

The image below shows that the keyboard focus feedback on the More Options button is a black border around a dark purple fill. I probably wouldn't have noticed it at all if the border hadn't slightly protruded

[2020-06-16 05:48] Hardhik commented on #717
I also notice that the Accessibility Insights for Windows app causes electron app to crash. This is noticed while trying to test the "Test Runner" from Azure DevOps.

[2020-06-17 18:22] adarshrema commented on #817
Color overlay in HC white mode may be causing the issue. Needs more investigation to figure out the best fix.

[2020-06-27 02:18] amirtezgalinew opened #821 "[BUG]"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to h

[2020-06-29 14:29] #821 closed

[2020-07-01 18:24] iamrafan opened #828 "Dark mode: Issue filing options' text fails contrast when the app is opened in light mode and then color setting is changed to dark mode"
**Describe the bug**
The text of the radio buttons does not switch to  appropriate color when the color setting is changed to dark mode after the app is opened in light mode

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure color setting for default app mode is set to 'Light'
![image](https://user-images.githubusercontent.com/22068434/86277575-c77e1a80-bb8b-11ea-8029-d539ea7a081e.png

[2020-07-15 17:08] adarshrema commented on #828
Needs investigation by the PM and design teams

[2020-07-16 22:51] kbabbitt opened #840 "[BUG] AI for Windows throws an error using Text Pattern Explorer with Edge (both new and legacy)"
**Describe the bug**
"Failed to retrieve range(s): Object reference not set to an instance of an object." when exploring TextPattern on a text box in Chromium-based Edge or Edge Legacy.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Accessibility Insights for Windows
2. Start Chromium-based Edge or Edge Legacy
3. Hover over the search box on the new tab page
4. In AI, click on "Text P

[2020-07-20 18:29] iamrafan opened #841 "Dark mode: Toggle button's background has insufficient contrast against its adjacent color"
**Describe the bug**
- The background color of the toggle buttons in settings have insufficient contrast against their adjacent color.
- The background color of the inner circle inside the toggle button also has insufficient contrast against its adjacent color (which is the background color of the toggle)

**Toggle button's background color:** #0078D6
**Adjacent color:** #2B3034 (also the backgrou

[2020-07-20 20:48] adarshrema commented on #840
Needs investigation by the engineering team if this is an issue the Edge team needs to fix or if that has to happen at our end.

[2020-07-20 20:52] adarshrema commented on #841
Needs investigation by PM and design.

[2020-07-20 21:08] iamrafan opened #842 "Dark mode: Text color of the links on mouse hover has insufficient contrast against its background"
**Describe the bug**
The text of the links in getting started dialog and in settings -> About page have insufficient contrast against their background when they are hovered using a mouse in dark mode

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure color setting for default app mode in windows is set to 'Dark'
2. Launch AI-Windows
3. User Color Contrast Analyser tool test the contra

[2020-07-20 21:25] iamrafan opened #843 "Dark mode: Text content has insufficient contrast against its background"
**Describe the bug**
"Automated checks" text in default state (when no app is scanned) and the fix message when no failures are detected, have insufficient contrast against their backgrounds.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure color setting for default app mode in windows is set to 'Dark'
2. Launch AI-Windows
3. Navigate to Tests section in the left menu bar without sc

[2020-07-21 22:04] iamrafan opened #845 "Dark mode: Header text in "how to fix" has insufficient contrast against its background on mouse hover"
**Describe the bug**
The header text in "how to fix" section in the right pane has insufficient contrast against its
background on mouse hover

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure color setting for default app mode in windows is set to 'Dark'
2. Launch AI-Windows
3. Scan any app and navigate to "Results in UI Automation Tree"
4. Hover the mouse on the headers "Rule" and

[2020-07-23 21:41] iamrafan opened #854 "Checkbox border has insufficient contrast against its adjacent color in "Enable telemetry dialogue""
**Describe the bug**
The border of the checkbox in "enable telemetry dialogue" fails Non-text Contrast requirement as it has insufficient contrast against its adjacent background

The following AI-windows mode(s) have this issue:
- Regular mode
- High Contrast White mode

**Expected behavior**
The border of the checkbox should have a contrast ratio of at least 3:1 against its adjacent color

**Act

[2020-07-23 21:44] iamrafan opened #855 "Button's outline has insufficient contrast against its adjacent background in "Enable telemetry dialogue""
**Describe the bug**
The button's outline has insufficient contrast against its adjacent color

The following AI-windows modes have this issue:
- High Contrast White mode

**Expected behavior**
The button's outline should have a contrast ratio of at least 3:1 against its adjacent color

**Actual behavior**
The non-text contrast ratio of the button's outline against its adjacent color falls short o

[2020-07-23 22:00] iamrafan opened #856 "Play icon in the "getting started" dialog fails non-text contrast requirement"
The following AI-windows mode(s) have this issue:
- High Contrast White mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![3 1](https://user-images.githubusercontent.com/22068434/88342849-0d468280-ccf5-11ea-81f1-811920589363.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows Version: Production Release: v 1.1.124

[2020-07-23 22:03] iamrafan opened #857 "Checkbox border in "Getting started" dialog has insufficient contrast against its adjacent color"
The following AI-windows mode(s) have this issue:
- Regular mode
- High Contrast White mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![4 1](https://user-images.githubusercontent.com/22068434/88343153-9958aa00-ccf5-11ea-8f33-4a35ffc26acb.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows Version: Production Rel

[2020-07-23 22:06] iamrafan opened #858 "Accessibility Insights icon has insufficient contrast against its adjacent color"
The following AI-windows mode(s) have this issue:
- High Contrast White mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![5 1](https://user-images.githubusercontent.com/22068434/88343274-e89eda80-ccf5-11ea-9e08-376a040ca500.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows Version: Production Release: v 1.1.124

[2020-07-23 22:11] iamrafan opened #859 "Selected state indicators and icons in the left nav have insufficient contrast against their background on mouse hover"
The following AI-windows mode(s) have this issue:
- Dark mode
- High Contrast White mode
- High Contrast Black mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![6 1](https://user-images.githubusercontent.com/22068434/88343459-4a5f4480-ccf6-11ea-9271-1288c49ac05f.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows

[2020-07-23 22:14] iamrafan opened #860 "Expand/Collapse icon on a selected tree item has insufficient contrast against its background"
The following AI-windows mode(s) have this issue:
- High Contrast White mode
- High Contrast Black mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![7 1](https://user-images.githubusercontent.com/22068434/88343845-2d774100-ccf7-11ea-8c35-4c2bc36b2f32.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows Version: Pr

[2020-07-23 22:49] DaveTryon commented on #809
I'll regress this in tomorrow's canary build

[2020-07-23 22:59] iamrafan opened #861 "[WPF] Outline of the drop down and icons on the top menu have insufficient contrast against their adjacent color"
The following AI-windows mode(s) have this issue:
- Dark mode
- High Contrast White mode
- High Contrast ```#1```
- High Contrast ```#2```

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![8 1](https://user-images.githubusercontent.com/22068434/88346485-4da9fe80-ccfd-11ea-93ee-ab909b0fc166.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibili

[2020-07-23 23:04] iamrafan opened #862 "Icons on the top menu have insufficient contrast against their background on mouse hover"
The following AI-windows mode(s) have this issue:
- Dark mode
- High Contrast White mode
- High Contrast Black mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![9 1](https://user-images.githubusercontent.com/22068434/88346786-03754d00-ccfe-11ea-95fb-1d4c5f4b5d72.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows

[2020-07-23 23:11] iamrafan opened #863 "Checkbox border in Events->Configuration has insufficient contrast against its adjacent color"
The following AI-windows mode(s) have this issue:
- High Contrast White mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![10 1](https://user-images.githubusercontent.com/22068434/88347228-248a6d80-ccff-11ea-8303-592e764f9be9.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows Version: Production Release: v 1.1.12

[2020-07-23 23:15] iamrafan opened #864 "Accessibility Insights icon on the banner of event configuration pop up has insufficient contrast against its adjacent color"
The following AI-windows mode(s) have this issue:
- High Contrast White mode
- High Contrast Black mode
- High Contrast ```#1```

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![11 1](https://user-images.githubusercontent.com/22068434/88347443-8ba82200-ccff-11ea-8477-910435aef215.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insigh

[2020-07-24 02:20] iamrafan opened #865 "[WPF] Radio buttons' border in "Event settings" have insufficient contrast against its adjacent color"
The following AI-windows mode(s) have this issue:
- High Contrast White mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![12 1](https://user-images.githubusercontent.com/22068434/88355438-69230280-cd19-11ea-9eba-e65292946276.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows Version: Production Release: v 1.1.12

[2020-07-24 02:27] iamrafan opened #866 "Focus indicator on tabs in events has insufficient contrast against its background in 'selected' state"
The following AI-windows mode(s) have this issue:
- High Contrast White mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![13 1](https://user-images.githubusercontent.com/22068434/88355556-e3ec1d80-cd19-11ea-9c9a-7c471952125c.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows Version: Production Release: v 1.1.12

[2020-07-24 02:31] iamrafan opened #867 "Tree items' text in events->configuration has insufficient contrast against its background in 'focused' state"
The following AI-windows mode(s) have this issue:
- High Contrast White mode
- High Contrast Black mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![14 1](https://user-images.githubusercontent.com/22068434/88355901-fca90300-cd1a-11ea-9143-eb9ab708026f.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows Version: P

[2020-07-24 02:36] iamrafan opened #868 "Focus indicator on 'selected' test in Fast Pass has insufficient contrast against its background"
The following AI-windows mode(s) have this issue:
- High Contrast White mode
- High Contrast Black mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![15 1](https://user-images.githubusercontent.com/22068434/88356099-8f49a200-cd1b-11ea-9852-af0946f498ea.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows Version: P

[2020-07-24 02:38] iamrafan opened #869 "Checkbox's border in automated checks has insufficient contrast against its adjacent color"
The following AI-windows mode(s) have this issue:
- High Contrast White mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![16 1](https://user-images.githubusercontent.com/22068434/88356246-0a12bd00-cd1c-11ea-8ede-f07c26233b96.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows Version: Production Release: v 1.1.12

[2020-07-24 02:42] iamrafan opened #870 "Test name in Fast Pass has insufficient contrast against its background on mouse hover"
The following AI-windows mode(s) have this issue:
- High Contrast White mode
- High Contrast Black mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![17 1](https://user-images.githubusercontent.com/22068434/88356412-92915d80-cd1c-11ea-8613-955c9d9b96ac.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows Version: P

[2020-07-24 02:46] iamrafan opened #871 "Focus indicator on more options button in a selected tree item has insufficient contrast against its background"
The following AI-windows mode(s) have this issue:
- High Contrast White mode
- High Contrast Black mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![18 1](https://user-images.githubusercontent.com/22068434/88356548-1cd9c180-cd1d-11ea-80e2-5f2323c3b95c.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows Version: P

[2020-07-24 02:49] iamrafan opened #872 "Action buttons in patterns do not have any visual indication that they are actionable items"
The following AI-windows mode(s) have this issue:
- High Contrast White mode
- High Contrast Black mode
- High Contrast ```#1```
- High Contrast ```#2```

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![19 1](https://user-images.githubusercontent.com/22068434/88356701-91acfb80-cd1d-11ea-8526-06bcd416b7c0.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 190

[2020-07-24 02:52] iamrafan opened #873 "Actions button text is not visible on hover"
The following AI-windows mode(s) have this issue:
- High Contrast White mode
- High Contrast Black mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![20 1](https://user-images.githubusercontent.com/22068434/88356800-e9e3fd80-cd1d-11ea-8692-cdbd68ac61ad.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows Version: P

[2020-07-24 02:54] iamrafan opened #874 "Color picker text boxes’ border has insufficient contrast against is adjacent color in both focused and not focused state"
The following AI-windows mode(s) have this issue:
- Regular mode
- High Contrast White mode
- High Contrast Black mode
- High Contrast ```#2``` mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![21 1](https://user-images.githubusercontent.com/22068434/88356888-3b8c8800-cd1e-11ea-9c02-c0ca0644b6ca.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 -

[2020-07-24 02:58] iamrafan opened #875 "Down chevron and color picker button icons have insufficient contrast against their background on mouse hover"
The following AI-windows mode(s) have this issue:
- Dark mode
- High Contrast White mode
- High Contrast Black mode

**Screenshots or .GIF**
#### Screenshots of the issues in High Contrast White mode
![22 1 1](https://user-images.githubusercontent.com/22068434/88357059-cb323680-cd1e-11ea-959b-ffbad834a805.png)

![22 1 2](https://user-images.githubusercontent.com/22068434/88357065-ce2d2700-cd1e-11e

[2020-07-24 03:00] iamrafan opened #876 "Set delay input box's border has insufficient contrast against its adjacent color in both focused and non-focused states"
The following AI-windows mode(s) have this issue:
- Regular mode
- High Contrast White mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![23 1](https://user-images.githubusercontent.com/22068434/88357145-19dfd080-cd1f-11ea-8741-00d9586d4854.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows Version: Production Re

[2020-07-24 03:03] iamrafan opened #877 "[WPF] Radio button's border in Connection->Issue filing has insufficient contrast against its adjacent color"
The following AI-windows mode(s) have this issue:
- High Contrast White mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![24 1](https://user-images.githubusercontent.com/22068434/88357252-7a6f0d80-cd1f-11ea-9a27-058f47a87842.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows Version: Production Release: v 1.1.12

[2020-07-24 03:04] iamrafan opened #878 "[WPF] Drop downs’ border in Settings->application has insufficient contrast against its adjacent color"
The following AI-windows mode(s) have this issue:
- Regular mode
- High Contrast White mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![25 1](https://user-images.githubusercontent.com/22068434/88357325-bace8b80-cd1f-11ea-89fa-035c3dd21d9c.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows Version: Production Re

[2020-07-24 03:10] iamrafan opened #879 "Settings button icon in Events has insufficient contrast against its background in 'selected' state"
The following AI-windows mode(s) have this issue:
- High Contrast White mode
- High Contrast Black mode

**Screenshots or .GIF**
#### Screenshot of the issue in High Contrast White mode
![26 1](https://user-images.githubusercontent.com/22068434/88357551-85766d80-cd20-11ea-983c-7bdaa21170ad.png)

**Desktop**
 - OS: Windows 10 Enterprise, Version 1903
 - Accessibility Insights for Windows Version: P

[2020-07-24 15:15] mrlacey opened #880 "Add ability to copy test results"
**Is your feature request related to a problem? Please describe.**
I sometimes need to write up the results of a test run in various places: Emails, notes, tickets, etc. but there's no easy way for me to get the results of a test run out of the tool.
I often end up having to type them out. :(

**Describe the solution you'd like**
It would be really good if I could just copy the results to the clip

[2020-07-24 16:00] RobGallo commented on #811
Addressed in axe-windows PR [#409](https://github.com/microsoft/axe-windows/pull/409)

[2020-07-24 18:53] DaveTryon commented on #809
Verified fixed in 1.1.1300.1

[2020-07-24 19:02] DaveTryon commented on #814
@guybark , please regress this using the current canary build. Thanks!

[2020-07-24 20:36] #809 closed

[2020-07-27 19:14] karanbirsingh commented on #880
Hi @mrlacey - thank you for filing the issue.

We do have some copy-to-clipboard behavior, but it is in a different view. One way to get there is:
- Run automated checks (as you have in the screenshot)
- Select the element you're interested in (the `text []` button)
- You should now be in the UI Automation Tree view
- Pressing Ctrl-C copies various text to the clipboard depending on where you have

[2020-07-27 20:23] mrlacey commented on #880
Oh, it's also possible to select an individual item on the Automated Checks failure list and use Ctrl+C to copy an individual item.  That's good enough for me.

BTW. Is there anything being done (or could there be) to make this more discoverable to others too?

[2020-07-28 22:44] karanbirsingh commented on #880
Glad it's working - it's true the functionality isn't very discoverable. We will add that feedback to backlog to see what options we might have.

[2020-07-30 16:53] DaveTryon commented on #840
This has been merged to master and will be in the next canary build. Will resolve once the build is released

[2020-07-31 15:31] DaveTryon commented on #840
@kbabbitt, please regress against the latest canary release (https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1307.01), then close if the fix works for you. Thanks!

[2020-07-31 16:46] kbabbitt commented on #840
Looks good to me, thank you for the fix!

[2020-07-31 16:46] #840 closed

[2020-08-01 18:18] guybark opened #882 "AIWin unexpectedly reports failures with WPF DataGrid's which contain cells with text duplicated between cells"
Create a new WPF app using .NET Framework 4.8, and add a DataGrid to it. Give the column headers unique names, and populate the cells with some text which is duplicated between cells. Or just grab the demo app I built at https://account79.visualstudio.com/WPFDataGridDuplicateCellNames.

Run the app and point AIWin to the DataGrid.

Result: AIWin reports a failure relating to cells having duplicate

[2020-08-04 00:09] adarshrema commented on #880
@mrlacey , marking this as resolved for you to confirm and close.

[2020-08-04 08:24] mrlacey commented on #880
Happy to close this. But, has the discoverability issue been documented anywhere publicly that can be linked?

[2020-08-04 08:24] #880 closed

[2020-08-04 18:12] adarshrema opened #887 "copy-to-clipboard behavior is not consistent"
Spinning this off #880.

Confirm that copying (Ctrl+C) text from automated checks result is working as expected while,
* Selecting an individual item from automated checks result list to copy failure details
* Selecting different parts of UI Automation Tree view to copy details like properties, description

Once this behavior is confirmed, we will update documentation accordingly.

[2020-08-04 18:20] adarshrema commented on #880
@mrlacey , we noticed some inconsistencies in the copy-to-clipboard behavior and have #887 to investigate this. Once we resolve that we will update documentation with details accordingly. We will plan to update this thread with details as we know more.

[2020-08-06 02:00] #814 closed

[2020-08-06 21:47] anand-bit-sin opened #889 "[BUG] UWP Flipview throws error for FeaturedItem not loaded during Entire app scan : The BoundingRectangle property must represent an area of at least 25 pixels"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
Flipview item in UWP which is not visible is flagged for Accessibility error

**To Reproduce**
Steps to reproduce the behavior:
1. Create a FlipView control in the UWP and add controls within multiple flipview items, data is bound through database from Vi

[2020-08-06 22:28] DaveTryon commented on #889
@anand-bit-sin, can you pass along the contents of the details tab, as well? That will provide us with more information to help debug this. The ideal would be to have the entire a11ytest file, but we get the privacy concerns. Once you click on the details tab, you should be able to press Ctrl+C to copy the properties for the specific control in question. Thanks!

[2020-08-06 23:27] ferBonnin commented on #811
@RobGallo can we mark this as resolve? what is needed to validate this in Accessibility Insights for Windows - Canary?

[2020-08-07 03:51] anand-bit-sin commented on #889
@DaveTryon
Here is the Details tab contents:

Group:
LocalizedControlType	group
Name	XXXXXX
ControlType	Group(50026)
IsKeyboardFocusable	False
BoundingRectangle	[l=509,t=1,r=509,b=717]
AccessKey	Property does not exist
AcceleratorKey	Property does not exist
HelpText	Property does not exist
AriaProperties	Property does not exist
AriaRole	Property does not exist

Image:
BoundingRectangle	[l=509,t=1,

[2020-08-07 16:06] DaveTryon opened #891 "[BUG] Canary builds of VersionSwitcher are not asking to elevate"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
Canary builds of VersionSwitcher are not asking to elevate. As a result, attempts to upgrade or change channels fail. This is a ship-blocker

**To Reproduce**
Steps to reproduce the behavior:
1. Install the current production build
2. Change to the Canary

[2020-08-07 16:09] DaveTryon commented on #815
@guybark, this is fixed in https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1314.01. Please regress at your convenience

[2020-08-07 17:28] DaveTryon commented on #891
Fixed in https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1314.02

[2020-08-07 17:35] DaveTryon commented on #891
Confirmed fixed in https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1314.02

[2020-08-07 17:35] #891 closed

[2020-08-07 17:46] DaveTryon commented on #815
@guybark, I'd suggest regressing in https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1314.02, just because that build has the fix that allows you to successfully switch channels

[2020-08-07 20:36] DaveTryon commented on #889
Interesting. The BoundingRectangle is not null, but it's an empty rectangle (left and right are the same value so it's 0 pixels wide). This specific rule (BoundingRectangleSizeReasonable) skips controls with a null or malformed BoundingRectangle property, but it doesn't skip an empty rectangle. We'll discuss our options and update appropriately.

[2020-08-07 22:39] DaveTryon commented on #887
The problem here is that AIWin is copying on KeyUp of Ctrl+C, while the standard for Windows apps is to copy on KeyDown of Ctrl+C. Either will work if the keyboard pattern is Ctrl Down, C Down, C Up, Ctrl Up. However, decades of muscle memory have trained my left hand to do Ctrl Down, C Down, Ctrl Up, C up. When that happens, Ctrl is no longer down when the KeyUp is received for C, and copy doesn'

[2020-08-10 14:18] RobGallo commented on #811
@ferBonnin  We need to release a new version of axe-windows and consume it in AI-Win. We will discuss whether or not to create a release of axe-windows today.

[2020-08-11 00:38] adarshrema commented on #889
@RobGallo to update once we receive guidance from the UWP team

[2020-08-13 15:33] shalinijoshi19 commented on #816
@adarshrema do we know if there is support to run this in ADO/CI for other platforms, esp Web + Mobile?

[2020-08-13 16:17] adarshrema commented on #816
@shalinijoshi19, for web you can refer to samples available at [axe-pipelines-samples](https://github.com/microsoft/axe-pipelines-samples). We do not have comparable projects for mobile yet.

[2020-08-14 20:00] #815 closed

[2020-08-17 15:11] RobGallo commented on #889
@anand-bit-sin , Could you share code with us which exhibits the problem? Engineers have not been able to repro the issue. Thanks!

[2020-08-18 20:44] DaveTryon commented on #887
Confirmed in build 1.1.1320.1

[2020-08-18 20:44] #887 closed

[2020-08-20 06:16] kianrp opened #898 "[BUG] Color contrast for vertical scrollbar is not meeting the text and graphical component and UI object ratio"
**Describe the bug**
For the inbuilt vertical scrollbar in UWP app - text ratio, graphical component and UI object ratio test fails. Since the scroll bar is built in we do not expect the tool to fail on this test.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Accessibility Insight for Windows Tool
2. Click on Color Contrast Analyzer
3. Enable auto-detect contrast ratio
5. Place the f

[2020-08-21 16:14] adarshrema opened #900 "Automatic detection of font sizes"
Logging this on behalf of @brannonz

Something that numerous gaming teams have pinged me about in the past is how hard it is for them to determine if they have any font that fails our size guidelines (18px at 1080p).

It would be really interesting and helpful if Accessibility Insights could use OCR to detect text on a screen (or in a screenshot) and try to automatically calculate the font size ba

[2020-08-24 17:13] anand-bit-sin commented on #889
@RobGallo  The code is copyright, so cannot be shared, re-creating a sample would also take some time. Though some details about the flipview implementation is as follows: It is using a custom control, with ArrangeOverride in case a property is set to hide the element if it overlaps other UI element. In this scenario when the element overlaps with any other UI element based on max limits for other

[2020-08-24 18:03] RobGallo commented on #889
@anand-bit-sin ,
It sounds like you're overriding the default behavior/implementing a custom control. Specifically it sounds like you are overriding the behavior for hiding items? Is that correct? If that's the case, you may want to set the IsOffScreen automation property for the element with a zero size rectangle to true. That will stop the error (and is correct for accessibility). However, when

[2020-08-28 03:35] sauravbhattacharya001 commented on #731
There is some code in trust verifier: IsFileTrusted(string filePath). Can a similar be used in VersionSwitcher to help with this?

[2020-08-28 03:53] sauravbhattacharya001 commented on #731
where can I find the canonical names and thumbprints?

[2020-08-28 14:02] anand-bit-sin commented on #889
Thanks @RobGallo . Sorry for the delay. Yes, this is overriding the behavior to hide items. We will try to use the IsOffScreen automation property to set and reset when size is overridden.

[2020-08-28 16:54] DaveTryon commented on #731
@sauravbhattacharya001, the various options were out there to reflect the fact that there was some uncertainty about our long-term signing strategy. That uncertainty has since been worked out, and our plan for the foreseeable future is to use a certificate with the canonical name of **Microsoft Corporation** (that's the certificate used to sign the MSI files published at  https://github.com/Micros

[2020-08-28 23:52] adarshrema commented on #889
Marking as needs author feedback while we wait for information from @anand-bit-sin per the last comment

[2020-08-31 17:40] DaveTryon commented on #811
Hi, @guybark! This has been released to production at https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1334.02. Please regress as your convenience. Thanks!

[2020-09-01 17:10] guybark commented on #811
I've verified using AIWin 1.1.1334.2 that AIWin now reports that the text elements in the list in the Win32 Properties dlg support the GridItem and TableItem patterns. Thanks for making the change.

[2020-09-01 17:11] #811 closed

[2020-09-01 21:47] DaveTryon opened #914 "[BUG] "New for WCAG 2.1" bubble isn't readable"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
The "New for WCAG 2.1" label in the Color Contrast analyzer fails color contrast

**To Reproduce**
Steps to reproduce the behavior:
1. Start AIWin
2. Click on the color contrast button
3. Look at the section labeled "Graphical objects and UI components"

[2020-09-01 22:59] DaveTryon opened #916 "[BUG] RESX code-behind files aren't updating correctly"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
When editing RESX files in Visual Studio, the code-behind files aren't updating as expected. This used to work correctly, so my suspicion is that it's related to the csproj format change. Filing this as a reminder to fix it. Until it's fixed, the code-beh

[2020-09-03 00:06] #916 closed

[2020-09-04 09:24] st8711000 opened #923 "[BUG] Accessibility tool show issue “Localized control type and ControlType must not both "custom""
[`Please`](url) check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
1.Accessibility tool show issue “The ControlType and LocalizedControlType must not both be set to "custom""
2.Narrator read “DataGrid.MainWindow+CleanDiskData”

**To Reproduce**
Steps to reproduce the behavior:
1. Download source code:
    https:

[2020-09-04 20:21] RobGallo commented on #923
This is a .Net issue. In your project you're using .Net Framework 4.5.2. If you update to 4.7.2, the problem goes away.

[2020-09-04 20:22] #923 closed

[2020-09-05 02:00] #889 closed

[2020-09-08 02:52] jamess-huang opened #928 "[General Question] Can't not detect some APPs with AccessibilityInsights tools"
We want to use AccessibilityInsights tool to check the APPs that we develop. However we find some APPs seem can't be detect by AccessibilityInsights tool when we hover over the element or the whole APP. This APP is not built by visual studio, it is built by BCB2009. Any information about the APP you need, please let us know, Thank you.

![Untitled](https://user-images.githubusercontent.com/2972819

[2020-09-08 14:33] RobGallo commented on #928
@jamess-huang ,
Are you able to see any UI Automation properties of your app using the [Inspect](https://docs.microsoft.com/en-us/windows/win32/winauto/inspect-objects#:~:text=Inspect%20(Inspect.exe)%20is,as%20Microsoft%20Active%20Accessibility%20properties.) tool?

[2020-09-09 06:35] jamess-huang commented on #928
@RobGallo
Hello, Please check the picture below,
![Untitled](https://user-images.githubusercontent.com/29728194/92563132-a7648900-f2a9-11ea-8f98-12b9a663af80.png)

[2020-09-09 12:31] kianrp commented on #898
Sound good! Thanks for the update.

[2020-09-09 16:21] DaveTryon commented on #914
Resolved fixed in 1.1.1347.1

[2020-09-09 16:21] #914 closed

[2020-09-09 16:42] RobGallo commented on #928
We believe the problem may be related to UI Access. Please try the instructions below, taken from https://accessibilityinsights.io/docs/en/windows/reference/faq

Sometimes Accessibility Insights for Windows can’t find my application. Is there a fix?
By default, Accessibility Insights for Windows can only scan applications that are not running as administrator. When this happens, there are 3 option

[2020-09-10 04:12] jamess-huang commented on #928
@RobGallo Thank you. It did because we run the APP under administrator mode. After we run Accessibility Insights with administrator, it can detect the APP successfully.

[2020-09-10 04:12] #928 closed

[2020-09-11 01:46] st8711000 commented on #923
hi
Thanks for your help. If my project use .Net Framework 4.5.2 continuously, whether other solution to fix this issue

[2020-09-14 06:10] st8711000 opened #931 "[BUG] show issue “Localized control type and ControlType must not both "custom""
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
Describe the bug
Accessibility tool show issue “The ControlType and LocalizedControlType must not both be set to "custom" "

**To Reproduce**
Steps to reproduce the behavior:
1. Download source code: https://drive.google.com/file/d/1qC2BVsTVWUGFI4xQtY9xVn

[2020-09-14 06:11] st8711000 commented on #931
Update issue screenshot

<img width="812" alt="Screenshot_1" src="https://user-images.githubusercontent.com/14719836/93049738-326fc580-f694-11ea-8e99-1bc66697c7b7.png">

[2020-09-14 19:14] lisli1 commented on #931
@st8711000, thanks for using Accessibility Insights for Windows!

After investigating this issue, we have found that this particular [issue with the DataGridCell was fixed in .NET Framework 4.7.1](https://docs.microsoft.com/en-us/dotnet/framework/whats-new/whats-new-in-accessibility#whats-new-in-accessibility-in-net-framework-471).

If you are unable to update your .NET Framework, we recommend loo

[2020-09-15 02:27] st8711000 commented on #931
Thanks for your help.
Can you provide source code or example for Accessibility Switches if I not upgrade .NET Framework to 4.7.1

[2020-09-15 16:52] DaveTryon commented on #931
@st8711000, there are a couple of ways you could add these flags. Given your sample project as a starting point, you can add the following lines (copied from https://docs.microsoft.com/en-us/dotnet/framework/whats-new/whats-new-in-accessibility#accessibility-switches) inside your existing app.config file as a sibling to the startup node:
[code]

This change allows more recent .NET versions to use

[2020-09-16 19:10] cliffkoh opened #936 "testing bot"
test

[2020-09-16 19:10] #936 closed

[2020-09-17 08:03] kalintodorov opened #937 "[General Question] Section 508 Compliance Coverage"
Hi guys,

We have question regarding the tool for Windows - how much of the Section 508 compliance the tool covers?
In other words if the tool shows no errors does this mean the app is Section 508 compliant?

Thanks in advance,
Kalin

[2020-09-17 18:52] DaveTryon commented on #937
Hi, @kalintodorov! Accessibility Insights for Windows has an objective of no false positives, so the automated tests are limited to things that can reliably be automated without needing further analysis. Many of the checks in Section 508 can't be reliably automated, so while a clean result from automated checks and tab stops is a great start towards Section 508 compliance, manual assessments will

[2020-09-18 08:56] kalintodorov commented on #937
Thank you for the information! :)

[2020-09-18 08:56] #937 closed

[2020-09-18 09:08] st8711000 commented on #931
hi DaveTryon
Based on your feedback, my project can resolve this issue
Thanks

[2020-09-18 16:35] DaveTryon commented on #931
@st8711000, I'm closing out this issue based on your response. Thanks!

[2020-09-18 16:35] #931 closed

[2020-09-19 00:46] cliffkoh opened #938 "testing bot"
test

[2020-09-19 00:46] #938 closed

[2020-09-30 17:24] DaveTryon commented on #876
@iamrafan, this will be in build 1.1.1369.1. Please regress and close once the build is out. Thanks!

[2020-09-30 23:58] DaveTryon commented on #854
Bug was originally reported against light mode, but I'm getting a contrast ratio of 4.88 in light mode, which satisfies the requirement. The contrast in HC White is 1.8, which fails the requirement. All modes are satisfied after the change.

[2020-10-01 19:24] DaveTryon commented on #854
@iamrafan, this fix will be in release 1.1.1370.01 (will release October 2nd). Please regress and close once the build is out.

[2020-10-01 19:26] DaveTryon commented on #869
This is fixed by #943.

@iamrafan, this fix will be in release 1.1.1370.01 (will release October 2nd). Please regress and close once the build is out.

[2020-10-01 19:27] DaveTryon commented on #863
This is fixed by #943.

@iamrafan, this fix will be in release 1.1.1370.01 (will release October 2nd). Please regress and close once the build is out.

[2020-10-01 19:27] DaveTryon commented on #857
This is fixed by #943.

@iamrafan, this fix will be in release 1.1.1370.01 (will release October 2nd). Please regress and close once the build is out.

[2020-10-01 20:15] jesmores opened #946 "Invoke ShowContextMenu on Nodes"
**Is your feature request related to a problem? Please describe.**
[Narrator Touch](https://support.microsoft.com/en-us/help/22812/windows-10-using-narrator-with-touch#:~:text=To%20show%20context%20menus%2C%20double-tap%20with%20two%20fingers.,Narrator%20command%20list%2C%20triple%20tap%20with%20four%20fingers.) has a way to invoke a context menu on the currently focused element by double-tapping

[2020-10-02 10:15] FernandVO opened #947 "[Feature Request]"
Some assesments have a failure description option, but some don't.

**Steps to reproduce**
Example: Native Widgets > Instructions

- The assesment shows a list of all form fields it encounters

- In this example a Yes and  No radio button are not programmatically related to a question so I fail them:

![radiobuttons](https://user-images.githubusercontent.com/72253412/94910477-0bdbc800-04a5-11eb-80

[2020-10-03 00:28] DaveTryon commented on #858
I've asked design for an updated icon that incorporates a contrasting border.

[2020-10-03 00:28] DaveTryon commented on #864
I've asked design for an updated icon that incorporates a contrasting border.

[2020-10-05 19:54] adarshrema commented on #946
Thanks for the feature request, @jesmores! This is currently not supported and we agree that this would be an interesting feature. This will also need some additional work to determine where it would fit in with the current user experience. We are leaving this feature as needs investigation to allow the community to up-vote if this is something they would like to have in Accessibility Insights for

[2020-10-06 05:22] xWSWx opened #949 "[General Question] How did you initialize inner UIautomation elements at "Chrome_RenderWidgetHostHWND"?"
What i do:
1. Run application, "Microsoft Teams", for example
2. Run "Accessibility Insights"
3. Move mouse on "Microsoft Teams", we get "Chrome Legacy Window"
4. After any mouse click (left/right) on target programm ("Microsoft Teams") provoke rebuild UI tree
5. Then UIautomation technology can get all inner UI elements in browser, "Accessibility Insights" too

I studied your source code very car

[2020-10-06 18:25] karanbirsingh opened #951 "[BUG] Color contrast picker consumes significant memory when monitor size is large"
**Describe the bug**

The color contrast picker maintains copies of a screenshot of the user's desktop. On a multi-monitor system the extra copies can cause a spike in memory usage. We don't see evidence of a leak, but the single spike can cause strain. One user reported out-of-memory crashes in this area (call stacks below). They weren't able to reproduce the crash when we met, perhaps because th

[2020-10-06 18:28] DaveTryon commented on #862
@iamrafan, this is fixed in https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1374.01. Please regress/close at your convenience. Thanks!

[2020-10-06 18:31] DaveTryon commented on #877
@adarshrema, Radio buttons in HC White mode are following the same behavior as WPF and the OS. Assigning this back to you until we decide how we want to handle these

[2020-10-06 18:44] dbjorge commented on #951
The logs definitely suggest an out-of-memory issue. In local testing I do see that invoking the color contrast analyzer causes a large spike in memory usage (from ~100MB to ~250-300MB private set usage), but I don't see obvious evidence of a memory leak just from looking at process explorer.

**That doesn't rule out the possibility of a leak**; we should take a look under a memory profiler, both t

[2020-10-06 20:25] DaveTryon commented on #842
I've reached out to design to get a new color for the link in the hover state. Once we have the color, it's trivial to add. One note: Hyperlink colors don't change in HC modes, so I'm proceeding on the assumption that there is no color contrast requirement between hover and non-hover colors, as long as both states satisfy the 4.5 contrast ratio against the background.

[2020-10-07 16:06] DaveTryon commented on #859
@iamrafan, this is fixed in https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1375.01. Please regress and close at your convenience. Thanks!

[2020-10-07 18:39] jesmores commented on #946
Thanks for taking a look. Do you know of any alternative ways to simulate the touch gesture in the absence of a touch device?

[2020-10-07 20:18] dbjorge commented on #949
Thanks for your interest in our code! The logic you're looking for actually lives in the [axe-windows](https://github.com/microsoft/axe-windows) library that this repository uses as a dependency, not in this repository. Through axe-windows, Accessibility Insights for Windows acts as a UI Automation Client to view the accessibility properties of applications being tested. We use a [UIAutomation Tre

[2020-10-07 20:18] #949 closed

[2020-10-12 15:59] DaveTryon commented on #842
@iamrafan, this is fixed in release [1.1.1380.01](https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1380.01). Please regress and close at your convenience.

[2020-10-12 16:01] DaveTryon commented on #856
@iamrafan, this is fixed in release [1.1.1380.01](https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1380.01). Please regress and close at your convenience.

[2020-10-12 16:01] DaveTryon commented on #843
@iamrafan, this is fixed in release [1.1.1380.01](https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1380.01). Please regress and close at your convenience.

[2020-10-12 16:50] adarshrema commented on #946
@guybark, would you know?

[2020-10-12 17:29] iamrafan commented on #869
Validated the fix in Canary Release: v1.1.1380.01

[2020-10-12 17:29] #869 closed

[2020-10-12 17:59] iamrafan commented on #863
Validated the fix in Canary Release: v1.1.1380.01

[2020-10-12 17:59] #863 closed

[2020-10-12 18:08] iamrafan commented on #857
Validated the fix in Canary Release: v1.1.1380.01

[2020-10-12 18:08] #857 closed

[2020-10-12 18:35] iamrafan commented on #854
Validated the fix in Canary Release: v1.1.1380.01, the checkbox border is now compliant in all 6 modes.

[2020-10-12 18:35] #854 closed

[2020-10-12 21:11] iamrafan commented on #842
Yes, color contrast is not required across states, color belonging to each state having sufficient contrast against the background is enough

[2020-10-12 21:22] iamrafan commented on #842
The new color complies to the WCAG 1.4.3 contrast requirement but it fails the WCAG1.4.1 (Use of Color) requirement, specifically criteria [F73](https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/F73)

[2020-10-12 21:37] iamrafan commented on #842
Validated the fix in Canary Release: v1.1.1380.01

[2020-10-12 21:37] #842 closed

[2020-10-12 21:40] iamrafan commented on #843
Validated the fix in Canary Release: v1.1.1380.01

[2020-10-12 21:40] #843 closed

[2020-10-12 21:51] iamrafan commented on #862
Validated the fixes in Canary Release: v1.1.1380.01, all 6 modes are compliant

[2020-10-12 21:51] #862 closed

[2020-10-12 22:00] iamrafan commented on #856
Validated the fix in Canary Release: v1.1.1380.01.

[2020-10-12 22:00] #856 closed

[2020-10-12 23:44] iamrafan commented on #859
The icons' color issues against its hover background color are fixed in Canary Release: v1.1.1380.01. I will file a separate issue for the "active thumb" (state) indicator not having sufficient contrast against its adjacent color on hover in High Contrast White mode and High Contrast Black modes

[2020-10-12 23:44] #859 closed

[2020-10-13 00:09] iamrafan commented on #876
Validated the fixes in Canary Release: v1.1.1380.01. I will file a separate issue for the system default behavior i.e focused input box's border in light mode not having sufficient contrast against its adjacent color

[2020-10-13 00:09] #876 closed

[2020-10-13 00:30] karanbirsingh commented on #951
An initial look under the VS memory profiler today stayed steady around 180 MB (clicking the eyedropper to get new screenshots every few seconds). I checked that we [delete the GDI bitmap object](https://github.com/microsoft/accessibility-insights-windows/blob/6180882ef2c54af4881d75da9225c72fde2aea63/src/AccessibilityInsights.SharedUx/Utilities/ExtensionMethods.cs#L290) as suggested [here](https:/

[2020-10-13 03:15] DaveTryon commented on #855
I think this is a false alarm. The button color is #808080, and the background color is #FFFFFF, which produces a contrast ratio of 3.949. The border is 3 pixels wide, and only the center is #808080 due to antialiasing. That said, there's an unbroken border all around the button, so I think we're OK.

[2020-10-13 19:30] iamrafan commented on #855
@DaveTryon Sure, I also validated it in Canary Release: v1.1.1380.01

[2020-10-13 19:30] #855 closed

[2020-10-14 15:55] DaveTryon commented on #828
@iamrafan, this is fixed in the release at https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1382.01. Please regress/close at your convenience.

[2020-10-14 15:55] DaveTryon commented on #841
@iamrafan, this is fixed in the release at https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1382.01. Please regress/close at your convenience.

[2020-10-14 15:56] DaveTryon commented on #873
@iamrafan, this is fixed in the release at https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1382.01. Please regress/close at your convenience.

[2020-10-14 15:57] DaveTryon commented on #870
@iamrafan, this is fixed in the release at https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1382.01. Please regress/close at your convenience.

[2020-10-15 23:43] iamrafan commented on #828
Validated the fix in Canary Release: v1.1.1383.01

[2020-10-15 23:43] #828 closed

[2020-10-15 23:48] iamrafan commented on #841
Validated the fix in Canary Release: v1.1.1383.01

[2020-10-15 23:48] #841 closed

[2020-10-16 00:09] iamrafan commented on #873
Validated the fix in Canary Release: v1.1.1383.01, contrast of the text against the background on hover is compliant in all 6 modes

[2020-10-16 00:09] #873 closed

[2020-10-16 00:19] iamrafan commented on #870
Validated the fixes in Canary Release: v1.1.1383.01, all 6 modes are compliant

[2020-10-16 00:19] #870 closed

[2020-10-16 00:24] iamrafan commented on #860
Validated the fixes in Canary Release: v1.1.1383.01, all 6 modes are now compliant

[2020-10-16 00:24] #860 closed

[2020-10-16 17:17] DaveTryon commented on #879
@iamrafan, this is fixed in the release at https://github.com/microsoft/accessibility-insights-windows/releases/tag/v1.1.1384.01. Please validate/close at your convenience.